[2017-10-29 05:47] Dotneteer opened #4 ".defw directive raises "Undefined symbol" error (discovered by davidblackuk)"
The following lines fail with undefined symbol errors

[code]

I would have thought it should have worked as the symbols are declared previously in the file.

[2017-10-29 05:50] #4 closed

[2017-10-29 06:00] Dotneteer opened #5 "Add ".defs NN" pragma to Z80 assembler to emit NN bytes of 0. (by davidblackuk)"
it would be great to be able to replace

[code]
with

[code]

[2017-10-29 06:04] Dotneteer opened #6 "Add ".fillb NN,D" and ".fillw NN,W" pragmas to the Z80 assembler to emit repeated bytes and words."
It would be great to replace these pragmas

[code]

with these:
[code]

[2017-10-29 07:21] #5 closed

[2017-10-29 07:21] #6 closed

[2017-11-02 11:06] stuurmn opened #7 "Wrong keys being returned while running from emulator"
Hi,

I was experimenting with a Z80 tutorial and I noticed the following

When I run the code --> Context menu --> Run Z80 program the key presses were not recognised correctly.  instead of recognising the values 111, 112, 114  it saw the results as F4h F5h F7h.   the spacebar was recognised as correctly with 32

But when I exported the program to a tap file and run it directly in the emulator it

[2017-11-02 16:48] Dotneteer commented on #7
Albert, I managed to reproduce the issue according to your instructions. I'm working on fixing it.

[2017-11-02 17:48] Dotneteer commented on #7
I did manage to identify the issue. When you execute the "Run Z80 program" command, it starts the Spectrum virtual machine, waits while it reaches the the #12AC address (the entry point of the main execution cycle). Then, the IDE pauses the virtual machine, loads the code into the memory, and jumps to its entry address.
Unfortunately, this scenario leads to a strange -- but logical -- situation: t

[2017-11-03 05:14] #7 closed

[2017-11-03 05:16] Dotneteer commented on #7
I managed to resolve the issue as I explained in the comment above. In the future I will do some refactoring to allow a more generic way to prepare the virtual machine to run a custom code injected into the virtual machine.

[2017-11-05 17:52] Dotneteer opened #8 "Disassembly tool windows does not show disassembly the first time you start the Spectrum virtual machine."
Steps to reproduce:
1. Start VS 2017 and create/open a ZX Spectrum Code discovery project
2. ZX Spectrum IDE | ZX Spectrum Emulator
3. ZX Spectrum IDE | Z80 Disassembly
4. Start the Spectrum emulator
The Disassembly window should display the ROM disassembly but id does not.

[2017-11-05 17:56] Dotneteer opened #9 "The Run Z80 Program/Debug Z80 Program commands raise a "The ZX Spectrum virtual machine did not stop" message when you try to use these commands while the VM is paused."
Instead of this message, the IDE should ask the user for confirmation (provided options are set so) to stop the machine, and then restart it.

[2017-11-05 18:19] Dotneteer opened #10 "When you pause the virtual machine executing code with the "Run Z80 program", the source window shows up the current breakpoint."
Pausing the machine should not show the source code with the breakpoint, unless you run the code with the "Debug Z80 program" command.

[2017-11-05 18:32] stuurmn opened #11 "In Emulator The tool tip shows "Pause" for "Stop" and "Refresh???" Button"
Just a minor one

![2017-11-05 14_15_20-ast3](https://user-images.githubusercontent.com/33286419/32417860-eba5b3aa-c25f-11e7-8ac0-928b5f7091a3.jpg)
![2017-11-05 14_15_28-ast3](https://user-images.githubusercontent.com/33286419/32417861-ebba98b0-c25f-11e7-8c94-3e83c5e7fa87.jpg)

[2017-11-05 18:41] stuurmn opened #12 "Z80 Disassembly window: Change of Display not working?"
Hi Istvan,

I don't know if I understand the working correctly but maybe you can have a look?

![2017-11-05 15_57_13-ast4](https://user-images.githubusercontent.com/33286419/32417942-1dab6df8-c261-11e7-9dcb-6fe7134d1a69.jpg)

When I enter MW 3D00 3FFF. The layout stays as above.

I did manage to get it to get the view below earlier on

![2017-11-05 15_49_16-](https://user-images.githubusercontent.

[2017-11-05 18:47] Dotneteer commented on #12
A managed to reproduce the issue. This is in close relation with issue #8. This is a result refactoring the virtual machines internal states. I plan not only fix the issue, but add a couple of regression tests.

[2017-11-05 18:49] #9 closed

[2017-11-05 18:49] #10 closed

[2017-11-05 18:51] Dotneteer commented on #11
Fixed together with issue #9.

[2017-11-05 18:51] #11 closed

[2017-11-06 07:30] #8 closed

[2017-11-06 07:30] #12 closed

[2017-11-06 07:36] Dotneteer opened #13 "Add a VS option that allow disabling source code debugging."
This feature would allow you to use only the Disassembly view while debugging your app. In particular cases, without it, source code debugging may be frustrating, as you continuously jump fro and to between the Spectrum VM view and source code file with the current breakpoint -- especially with the Step Into and Step Over commands.

[2017-11-06 07:40] Dotneteer opened #14 "Display ULA information in the Z80 registers tool window"
Along with the CPU tact information, display
* the number of frames rendered from the start of the virtual machine
* the current ULA tact information,
* the number of raster line currently being built,
* the type of pixel operation for the current tact

[2017-11-06 09:21] Dotneteer opened #15 "Source code debugger does not stop at any breakpoint set in the source code."
This bug is due to the refactoring of virtual machine controller. The new machine controller simply does not prepare the breakpoints to stop at.

[2017-11-06 09:28] Dotneteer opened #16 "Allow a debugger option to skip over instructions executed during a maskable interrupt"
Sometimes, it is frustrating that the debugger suddenly stops within the body of the RST #38 routine, as a maskable interrupt has been raised.

Add an option that skips the instruction (just like the Skip Over debugger command) when you enter the RST #38 routine, unless you leave the routine with the RET statement.

[2017-11-06 09:46] #13 closed

[2017-11-06 09:46] #15 closed

[2017-11-06 22:03] stuurmn opened #17 "Dump while looking at file"
Hi Istvan,

I'm getting a dump while looking at a tzx

![2017-11-06 23_00_08-](https://user-images.githubusercontent.com/33286419/32466229-83884372-c346-11e7-89c6-a8e42e3a7070.jpg)

[2017-11-07 05:05] Dotneteer commented on #17
I did manage to reproduce the issue.

[2017-11-07 05:09] #17 closed

[2017-11-07 09:23] stuurmn opened #18 "Request: Add function key shortcuts to the VM toolbar tooltips"
For the Newbies that have never used Visual Studio
Can you add the function keys in the tooltip of the emulator

![2017-11-07-function keys](https://user-images.githubusercontent.com/33286419/32485458-c84dd5dc-c3a3-11e7-842d-960e178aabaf.jpg)

Just an idea:
How about a link from the ZX Spectrum menu to the Wiki or even to Github?

![2017-11-07-extra link](https://user-images.githubusercontent.com/

[2017-11-07 09:38] Dotneteer opened #19 "The project node in Solution Explorer allows invoking Z80 program commands when there is no startup code file selected."
Disable these items unless there is a default code item selected.

[2017-11-07 09:41] Dotneteer opened #20 "The Export Z80 Code command does not show up the Export dialog."

[2017-11-07 10:21] #20 closed

[2017-11-07 10:30] #19 closed

[2017-11-07 10:32] Dotneteer opened #21 "Renaming the first file within a project hirearchy (e.g. folder) does not refresh the internal project structure properly."
This issue prevents the "Set as default ..." context menu commands working properly.

[2017-11-07 15:53] #18 closed

[2017-11-07 16:27] stuurmn opened #22 "Visibilty of buttons in emulator is not always correct"
Step 1) Run program in Emulator

![2017-11-07 17_09_55-as11](https://user-images.githubusercontent.com/33286419/32504134-687e643c-c3df-11e7-90ac-b224732e8b18.jpg)

Step 2)  Restart (Same) Program again

![2017-11-07 17_10_21-spect net - microsoft visual studio](https://user-images.githubusercontent.com/33286419/32504324-cdd968ae-c3df-11e7-8770-0624a501d53a.jpg)

Step 3) The popup ask if the VM sho

[2017-11-07 16:30] stuurmn commented on #22
I just noticed if you activate another window and go back the visibilty seems to be ok again

[2017-11-08 08:46] Dotneteer commented on #22
I did manage to reproduce this issue. Unfortunately, it is related to som visual studio extensibility issue. Even when I set the state of buttons in the code, VS does not refresh them. I definitely need time to dig into this issue.

[2017-11-08 09:20] Dotneteer commented on #22
I did find the cause of the issue and the solution as well :-) The status of the command button is evaluated before the command is executed. However, the "Run Z80 program" and "Debug Z80 program" commands are executed asynchronously, and so they change command button states asybchronously. The IDE does not refresh them unless it has a reason. Shifting the focus away and back is such a reason.
I so

[2017-11-08 09:21] #22 closed

[2017-11-09 09:02] #21 closed

[2017-11-09 09:07] stuurmn opened #23 "In debug mode F11 makes code window active but code window doesn't listen to F11 (highlites not always working)"
When I dubug a program and press F11 the z80code window becomes active and sometimes highlites the line with the current instruction (But not always)

The F11 key works fine from the emulator window and from the dissassembly window. But because it jumps to Z80code window, F11 doesn't react and the program doesn't continue for 1 step.

![2017-11-09 09_57_31-spectrumcodediscovery1 - microsoft visual

[2017-11-09 12:31] Dotneteer commented on #23
This is a reproducable, but unfortunately non-deterministic bug. As my explorations -- so far -- point out, this must be a race-condition-related issue within the `Z80DebugTaggerProvider` class.

[2017-11-09 16:11] stuurmn commented on #23
Interesting!
Never heard of Race-condition ( I had to look it up, wiki gave a good explanation)

Is the z80 code window of a different type then the dissasembly and the emulator windows?
When the z80code window is not docked it shows up as a 2nd VS session  (I mean the 2 green squares)

![2017-11-09 16_59_00-](https://user-images.githubusercontent.com/33286419/32615620-7cab31d2-c570-11e7-8d3c-c0de

[2017-11-09 18:36] Dotneteer commented on #23
That would be a long story, if I wanted to tell it to you all :-). Briefly, the z80 code window is a *document window*, while the others are *tool windows*, by Visual Studio Extensibility terms. This is why they behave differently. Document windows are displayed in the task bar separately, if the are in floating mode.

[2017-11-09 20:10] stuurmn commented on #23
I see,
I thought maybe because of the different type of window the communication from the emulator / disassembly window was not fully supported/or just different.

Would it be possible to copy the content of the z80code windows in a tool window?  Would that make a difference?
(On the other hand, we allready have the disassembly window which works very well (just not the full label but the generate

[2017-11-09 21:29] stuurmn opened #24 "VS hangs completely in debugging mode"
I can't always reproduce this one.

But it looks when I'm in debugging mode and the dissassembly and the registers and the memory window are open and I  click on F5 "Start debugging" VS hangs.
Some times I can continue after a while. Often I have to break off (throught the task manager)

The emulator is running but I think slowly

I would say the more of the tool windows are open the more likely i

[2017-11-10 08:21] Dotneteer commented on #24
I did manage to reproduce this issue. It seems the issue is within the ZX Spectrum Memory tool window.

[2017-11-10 08:29] Dotneteer opened #25 "When ZX Spectrum Memory window is displayed before the Spectrum virtual machine is started, the windows does not display the memory contents."
Even if you pause, stop, and then restart the vm, the Memory window stays empty. However, starting the vm first, and displaying the Memory window after that, it works as expected.

[2017-11-10 16:43] #24 closed

[2017-11-10 16:43] #25 closed

[2017-11-11 07:43] #16 closed

[2017-11-11 07:44] Dotneteer commented on #23
I try to redesign the code part that is responsible for highlighting the current breakpoint.

[2017-11-11 13:53] #23 closed

[2017-11-11 17:08] #14 closed

[2017-11-11 19:49] stuurmn opened #26 "In the Z80 register window the Binary representation is not always up to date"
The Binary representation of the F flag is not always up to date

![2017-11-11 20_38_56-spectrumcodediscovery1](https://user-images.githubusercontent.com/33286419/32692927-57f7d05e-c721-11e7-814a-7f463ffa91f8.jpg)

The AF register does seem to be up to date

[2017-11-12 12:53] #26 closed

[2017-11-12 17:58] stuurmn opened #27 "After renaming an ASM file, when debugging lines are not highlighted"
After renaming an ASM file, and you run the program and you go into debugging.
The current line is not highlighted.
You first have to close the project and reopen it. Then the lines are highlited again

[2017-11-12 21:48] stuurmn opened #28 "Z80 instruction only recognised in lower case"
DJNZ is not recognised as a valid.
djnz is been seen as a valid opcode

![2017-11-12 22_37_37-freewayfrog - microsoft visual studio - experimental instance](https://user-images.githubusercontent.com/33286419/32703725-58ebdc92-c7fa-11e7-931e-8634e9b9c3c3.jpg)

[2017-11-13 05:26] Dotneteer commented on #28
I will check all other Z80 instructions for similar issues.

[2017-11-13 05:34] #28 closed

[2017-11-13 06:21] Dotneteer opened #29 "When you stop the virtual machine during a source code debug session, the last breakpoint is still displayed highlighted"
The highlight from the last breakpoint should be removed.

[2017-11-13 06:29] #29 closed

[2017-11-13 16:54] Dotneteer commented on #29
I managed to fix a few inconsistencies in regard to file renaming. So, default files keep their default status after rename.

[2017-11-13 16:55] Dotneteer commented on #27
I managed to fix a few inconsistencies in regard to file renaming. So, default files keep their default status after rename.

[2017-11-14 06:34] Dotneteer opened #30 "Add binary representation of 8-bit registers to the tooltips of the Z80 Registers tool window"

[2017-11-14 06:35] Dotneteer opened #31 "Provide a way to add command reference documentation to the tool windows that have a command prompt"

[2017-11-14 06:52] Dotneteer opened #32 "Log any exceptions that cause the Spectrum virtual machine to stop, and display them in the Z80 pane of the Output window."

[2017-11-14 06:56] #30 closed

[2017-11-14 07:44] #32 closed

[2017-11-14 07:46] Dotneteer opened #33 "Allow specifying a start address (instead of the default one) in the Export Z80 Program dialog"
This feature allows you separate entry points for:
* directly starting the code from SpectNetIde
* starting the code by the loader (with RANDOMIZE USR function)

[2017-11-14 10:02] #33 closed

[2017-11-14 12:28] Dotneteer opened #34 "Add a new pragma (.expent) to the Z80 assembler, which specifies the auto start address for the Export Z80 Program command"
Change the Export Z80 Program command to use this new pragma.

[2017-11-14 12:56] #34 closed

[2017-11-14 17:15] stuurmn opened #35 "Looks like first Breakpoint is skipped"
When I start the program in Debug mode. It doesn't seem to stop
It seems to stop at the 2nd breakpoint.

![debuggerspectnetide](https://user-images.githubusercontent.com/33286419/32793813-484f8ca8-c967-11e7-89e2-ba4e08d23862.jpg)
It stops at the nop and not at the first Call

Question,
Do you know why in the bottom of the screen it only says   "@ 1982 Sincl                  "?

[2017-11-14 17:53] Dotneteer commented on #35
The Z80 CPU's execution cycle checks for breakpoinst _after_ completing an instructions. Thus, the first instruction is executed, the PC points to the next instruction &mdash; as a result, the breakpoint at the very first instruction is missed.

[2017-11-14 18:05] Dotneteer commented on #35
The "(c) 1982 Sincl" seems to miss the end of the text &mdash; it is not a bug. The reason is pretty simple :-). When you check the screen memory, the pixels that represent the text are already there. However, the ULA, which is responsible for rendering the screen pixel-by-pixel is still dealing with the upper lines of the screen.
The CPU and the ULA work in concert. When you pause the Spectrum vm

[2017-11-15 05:58] Dotneteer opened #36 "Allow a configuration option for the folder to save into ZX Spectrum files with the SAVE command."

[2017-11-15 08:50] #35 closed

[2017-11-15 09:21] #36 closed

[2017-11-15 17:09] #31 closed

[2017-11-15 17:10] Dotneteer commented on #31
When you click the ">" sign before the prompt, a new web document window opens in the IDE that show the commands reference for the corresponding tool window.

[2017-11-16 05:41] Dotneteer opened #37 "Provide tooltips for the prompts in the Disassembly and Memory tool windows that show how a developer can access command reference documentation"

[2017-11-16 05:42] Dotneteer opened #38 "Provide tooltips for the ULA-related counters in the Z80 Registers window so that the user would know what those counters mean"

[2017-11-19 05:59] #37 closed

[2017-11-19 05:59] #38 closed

[2017-11-27 05:10] Dotneteer opened #39 "When the Spectrum vm is paused while debugging, the first time you open the Disassembly tool window, it does not scroll to the current execution point."

[2017-11-27 05:14] Dotneteer opened #40 "Implement special disassembly for the Spectrum 128 RST #28 routine"
The two bytes following the `RST #28` call is the address to invoke from the Spectrum 48K ROM. Use the `.defw` pragma in the disassembly, and if the invoked address has a label annotation within the Spectrum 48K ROM, display it as a hard comment.

[2017-11-27 05:25] #39 closed

[2017-11-27 07:03] #40 closed

[2017-11-27 08:34] Dotneteer opened #41 "Add graphics characters to the Spectrum Keyboard"

[2017-11-27 13:54] Dotneteer commented on #41
Fixed.

[2017-11-27 13:54] #41 closed

[2017-11-28 09:10] Dotneteer opened #42 "The LD A,I and LD A,R Z80 operations do not handle F register according to the Zilog Z80 specification"
These operations do not modify the F register at all. The specification says this for `LD A,I`:

S is set if the I Register is negative; otherwise, it is reset.
Z is set if the I Register is 0; otherwise, it is reset.
H is reset.
P/V contains contents of IFF2.
N is reset.
C is not affected.

The `LD A,R` should work similarly, but the specification uses `R` in stead of `I`.

[2017-11-28 09:24] Dotneteer opened #43 "The Z80 Register R does not keep its Bit 7 from the last previous LD R,A statement"
Fix the refresh cycle of the CPU to comply with this behavior.

[2017-11-28 09:41] Dotneteer commented on #43
After check, it came to light that the CPU complies with the official behavior. It was a faulty unit test that made the phenomenon looks like a bug.

[2017-11-28 09:41] #43 closed

[2017-11-28 09:43] #42 closed

[2017-11-29 09:15] Dotneteer opened #44 "Update the .spconfig viewer so that is displays the CPU, ROM, RAM, screen, and beeper configuration settings."

[2017-11-29 10:47] #44 closed

[2017-11-29 15:25] Dotneteer opened #45 "Allow "late" evaluation for the ENT and XENT pragma."
Right now these pragmas support only immediate evaluation (all symbol's values must be known at the moment of evaluation). It would be more flexible if these pragmas would support late evaluation.

[2017-11-29 15:31] Dotneteer opened #46 "When the debugger is paused at a HALT instruction, neither step-into nor step-over cannot continue with the subsequent instruction following HALT."

[2017-11-30 07:19] Dotneteer commented on #46
Closed by mistake...

[2017-11-30 07:20] Dotneteer commented on #45
Done.

[2017-11-30 07:20] #45 closed

[2017-12-02 12:55] Dotneteer opened #47 "The Disassembly view does not hide the current break position glyph when the execution is carried on."

[2017-12-02 13:03] #46 closed

[2017-12-02 13:03] #47 closed

[2017-12-10 07:05] Dotneteer opened #48 "Add MODEL pragma to Z80 Assembler so that developers can sign different Spectrum targets."

[2017-12-11 16:57] Dotneteer opened #50 "Add #ifmod and #ifnmod directives that can be used to check the current Spectrum model used in the Z80 program."
Use the same identifiers as for the MODEL directive.
#ifmod and #ifnmod should be work together with #else and #endif as the other conditional directives.

[2017-12-12 16:44] #48 closed

[2017-12-13 08:13] #50 closed

[2017-12-16 11:09] Dotneteer opened #52 "Modify the Keyboard tool window so that key repeat works just as with the physical keyboard."
Right now, the Keyboard tool window does not support key repeat. Modify this behavior so that keeping the mouse button down while over a key allows key repeat to work.

[2017-12-16 11:12] Dotneteer opened #53 "Allow selecting keyboard layout with an option"
Provide an option (Tools|Option|Spec.Net IDE) that allows you to select a keyboard layout:

- Default: Layout according to the current Spectrum model of the project
- Spectrum 48 (old rubber keyboard layout)
- Spectrum 128 (new Spectrum +/+2/128/+3 layout)

[2017-12-16 11:15] Dotneteer opened #54 "Allow centering/zooming a keyboard layout"
Add an option (Tools|Options|Spect.Net IDE) that allows two layout for the Keyboard tool window:

- Original: Original size, the keyboard is centered in the keyboard layout window, scrollbars are provided
- Fit: The layout of the keyboard is fitted to the available size of the Keyboard tool window

[2017-12-16 21:21] stuurmn opened #55 "Undocumented Z80"
In the Jet Set Willy Source code

They are using the instructions:
![image](https://user-images.githubusercontent.com/33286419/34074006-cb4c3a2c-e2a6-11e7-9b0b-839c717e2d59.png)

![image](https://user-images.githubusercontent.com/33286419/34074066-d1d15dcc-e2a7-11e7-9c79-26fd7d43318a.png)

IXH and IXL are not recognised.

Is it possible you can add them?

Thanks,
Albert

[2017-12-17 05:23] Dotneteer commented on #55
Albert, there are two notations for the low and high bytes of IX/IY registers:

 1. XL, XH, YL, YH
 2. IXL, IXH, IYL, IYH

Right now, the Z80 assembler supports only notation #1. Soon I will implement #2, as an alternative notation.

[2017-12-17 15:36] #52 closed

[2017-12-17 15:36] #53 closed

[2017-12-17 15:36] #54 closed

[2017-12-17 18:10] #55 closed

[2017-12-17 21:05] stuurmn opened #56 "Dissassembly window doesnt show the current code (When loaded from tape)"
When Tape loaded and I go to debug:  (Spectrum 48k mode)

![2017-12-17 21_52_24-jetsetwillytape](https://user-images.githubusercontent.com/33286419/34083740-b0b105b0-e375-11e7-99aa-389fd7a2f915.jpg)
The disassembly window is showing the wrong contents

![2017-12-17 21_53_00-jetsetwillytape](https://user-images.githubusercontent.com/33286419/34083747-c3be0acc-e375-11e7-86be-d0167765729e.jpg)

When

[2017-12-18 09:09] Dotneteer commented on #56
Besides fixing this issue, I will also add an "RD" (Re-disassembly) command to the Disassembly tool window command prompt so that any time the developer wants he or she could refresh the disassembly view.

[2017-12-18 16:46] #56 closed

[2017-12-20 20:31] stuurmn opened #57 "Request: Set breakpoint in Disassembley window"
2)	Set breakpoints from the disassembly window

Would it be possible to set breakpoints in this window?

![spectnetidedebug](https://user-images.githubusercontent.com/33286419/34227283-eb3cb2ac-e5cc-11e7-9e2d-445ec796e33b.jpg)

Reason:
While debugging from a tape file there is no source file to place breakpoints. You can start debugging when the program is running. But you have to do this step by

[2017-12-20 20:33] stuurmn opened #58 "Request: 1) Send code to emulator without executing"
Request extra option: Send to emulator without executing the code

![spectnetidecode to spectrum](https://user-images.githubusercontent.com/33286419/34227392-3bce1c06-e5cd-11e7-918c-0eec4fa3dba0.jpg)

Is it possible to send the code directly to the emulator without executing the code
So you can execute it with RANDOMIZE USR command in Basic?

I was looking at a piece of code that does a RET and th

[2017-12-21 05:16] Dotneteer commented on #57
You can add breakpoint to the machine code in the Disassembly window with the following commands:
SB _hhhh_: Set breakpoint for address _hhhh_
TB _hhhh_: Toggles breakpoint for _hhhh_
RB _hhhh_ : Removes breakpoint from _hhhh_
EB: Erase all breakpoints

I hope it helps. May I close this issue with this answer?

[2017-12-21 09:01] stuurmn commented on #57
Sorry,
It is even in the instructions which I asked you to make a direct link to by pressing on the `>`
Maybe at some stage we can think of an even more obvious way to draw the atention to the help file (a big flashing `?` , or a police siren followed by a background voice saying  For help press the ` >`.    :-)

Yes you can close it

[2017-12-21 12:45] Dotneteer commented on #57
:-)

[2017-12-21 12:45] #57 closed

[2017-12-21 20:31] stuurmn commented on #58
Any change that you can also add around the same place the option for doing a "Check Syntax " only without running the code?
Because I do not alway want to execute the code, but I do like to see if I'm not making too many error

[2017-12-22 08:25] Dotneteer commented on #58
I implemented the commands you requested :-). You can find them in the project context menu (uses the default code file), and in each code file menu:

- __Compile Z80 code__: Compiles the code without running it. If there are errors, those are displayed in the Error List window. On successful compilation you get a confirmation message. The confirmation can be disabled in the Tools|Options|SpectNet

[2017-12-22 08:25] #58 closed

[2017-12-22 10:30] stuurmn commented on #58
Thank you very much,
This weekend I'l have a look!

[2017-12-22 16:29] stuurmn commented on #46
Seems to have re appeared? (48k)
In the emulator the program is running fine.
In the disassembly window and the code window the cursor is stuck at the halt statement.
Also in the toolwindow the PC is stuck at the same address as the halt statement

[2017-12-22 21:37] stuurmn opened #59 "Request: Make it possible to have a directive without instructions but with only a comment"
(Very low priority)
I came across this construction.

![2017-12-22 22_19_57-demo_libzx - microsoft visual studio - experimental instance](https://user-images.githubusercontent.com/33286419/34312726-7478ba08-e766-11e7-883e-ab03c0be9286.jpg)

But as you can see the comment is white and not recognised as a comment it first likes to see an instruction. (off cause the comment could be on the next line

[2017-12-22 23:36] stuurmn opened #60 "Debugger stops at HALT"
#46
Seems to have re appeared? (48k)
In the emulator the program is running fine.
In the disassembly window and the code window the cursor is stuck at the halt statement.
Also in the toolwindow the PC is stuck at the same address as the halt statement

[2017-12-23 06:24] Dotneteer commented on #60
Albert, I did not manage to reproduce this behavior. In my code samples `HALT` behaves as expected.
However, there's a way `HALT` may produce the behavior you described. When the interrupt is disabled (with `DI`), the `HALT` stays forever, as this is its nature. In the following code snippet, when you use `DI`, you cannot get away from `HALT`. If you comment out `DI`, stepping over `HALT` works.

[2017-12-23 07:06] Dotneteer commented on #59
According to the screenshot, I assume you wanted ta ask a label-only line with comment :-)

[2017-12-23 07:10] #59 closed

[2017-12-23 11:35] stuurmn commented on #59
Yes, you are right! (I need to work on my terminlogy)

Thats why I like to include screenshots:
A picture says more than a thousand words.  :-)

Thanks for the quick change.

[2017-12-23 13:27] Dotneteer commented on #59
I should have designed the assembler to accept it right from the beginning :-).

[2017-12-23 16:44] stuurmn commented on #60
Istvan,
Things are  ***very*** **slowly** starting to make sence.
The "Step Over (F10)" is the answer. I had no experience what so ever with interupts.
Now I can jump over the halt and it does make sence.

But this is not the hole story.
Something goes wrong when I play around for longer. (The problem: I am not able to reproduce it consistenly) But it does happen more often.
The result is that I h

[2017-12-23 18:41] Dotneteer commented on #60
Thanks for the info, I try to reproduce the issue.

[2017-12-24 05:44] Dotneteer commented on #60
Albert, I managed to reproduce the issue that the program does not stop, just carries on running. Now I'm working on finding the root cause and fixing it.

[2017-12-24 06:10] #60 closed

[2017-12-24 06:11] Dotneteer commented on #60
The issue was easy to fix. Please, open a new issue next time -- should the issues in the pictures come again -- with the explicit phenomenon. Merry Christmas!

[2018-01-05 14:41] Dotneteer opened #61 "Z80 assembler signs wrong file for error Z0201"
[Husband_chores.zip](https://github.com/Dotneteer/spectnetide/files/1606832/Husband_chores.zip)

[2018-01-05 15:37] Dotneteer commented on #61
There was a bug in the #include directive handling method, which caused a wrong include file index to store. Now, the bug is fixed, the error messages appear in the appropriate file.

[2018-01-05 15:37] #61 closed

[2018-01-16 14:34] stuurmn opened #62 "SpectNetIde VM hangs it self and complete restart from experimental Instance necassary"
Hi Istvan,

You may remember that a while a go I noticed that I sometimes had to restart SpectNetIde experimental instance because when I started a program I couldn't start another program anymore. And I couldn't reproduce this behaviour consitently.

I think I found the way to reproduce it.

1) Start SpectNetIde and load project --> Run Z80 program leave it running.
2) Open other project. ( No ne

[2018-01-16 14:51] Dotneteer commented on #62
Thanks for the reproduction steps, I will check soon :-)

[2018-01-17 07:18] Dotneteer commented on #62
Managed to reproduce the bug. Fix is on the way.

[2018-01-17 08:12] #62 closed

[2018-01-17 08:13] Dotneteer commented on #62
The issue was that the VM did not refreshed the screen, though it was running.

[2018-01-17 08:55] stuurmn commented on #62
Excellent!
Thanks for fixing it!

[2018-02-03 16:11] davidblackuk opened #63 "Defs should report an error for an undefined symbol"
Hi

This took a while to track down. I miss typed a constant and the following compiles

a_label: defs not_defined_symbol

even though the symbol is not defined (seem to emit defs 0 which even in itself might be an error)

As part of tracking this down i added code to dump the symbol table to the output window. A tool window to show the symbols would be great.

D

[2018-02-03 16:17] Dotneteer commented on #63
David, thanks for the report. I will fix this bug soon.

[2018-02-03 16:43] Dotneteer opened #64 "Create a tool window to lists Z80 Assembler symbols after compilation."
(_Request by David Black_) It would be useful to display compilation symbols to help troubleshooting with errors due to undefined symbols. The way how this should be implemented is not clear at the moment, I need to investigate it.

[2018-02-03 16:43] #63 closed

[2018-02-03 16:47] Dotneteer commented on #63
David, your report was very useful :-). I have found the same issues with the FILLB and FILLW pragmas, too. Now, all these issues are fixed.
I opened a new issue, #64 where you can add comments about how you would implement displaying the compilation symbols. Should this tool window display the output of the latest compilation? Please, share your ideas with me!

[2018-02-04 21:25] davidblackuk commented on #64
Hi Istvan

The request wasn't just related to undefined symbols, but more broad. In the SpecNet IDE (which has become awesome) i'm developing a game. Recently i'm trying to debug an issue where my sprite buffers are not being initialized correctly. By adding some code to dump the symbols i could see the following (very much truncated)

SPRT_0 - 9e57
SPRT_BG_OFFSET - 16
SPRT_BUFF_LEN - 34
STACK_POI

[2018-02-05 07:26] Dotneteer commented on #64
Working on it...

[2018-02-05 18:08] #64 closed

[2018-02-05 18:14] Dotneteer commented on #64
David, the first version of __Z80 Assembler Output__ tool window (You find it in the ZX Spectrum IDE) provides the info you need. After you compile/run the code, this window displays the output details, such as a summary, symbols, and fixups.
Fixups are those symbols and expressions that cannot be promptly evaluated in the first pass of the assembler. If those symbols cannot be resolved in the sec

[2018-02-05 18:16] Dotneteer opened #65 "Change the "G" (GOTO) command of the Memory and Disassembly views so that they use symbol names for navigation"
Extend the `G` _`hexnum`_ command with the `G` _`symbolname`_ option.

[2018-02-05 18:53] #65 closed

[2018-02-05 18:59] Dotneteer commented on #65
I slightly changes the syntax. Because a hexadecimal number that starts with a letter can be a symbol, too, you can use these commands to navigate:
* `G` _`hexnum`_: as earlier
* `G` _`symbolname`_: navigates to the address pointed by the symbol
* `GS` _`symbolname`_: navigates to the address pointed by the symbol

If you use a symbol that is a hexadecimal number (e.g., `FADD`), use to `GS` comman

[2018-02-06 13:30] davidblackuk opened #66 "Crash when editing a new file"
Hi istvan

I found a reproducible crash in the IDE, thought you'd be interested.

Steps to reproduce

Add a new z80Asm file through visual studio
go to the end of the org #8000 line
press return, then tab
start typing defb

Result
A crash of visual studio on the press of the letter b

Hope this helps

[2018-02-06 13:37] davidblackuk commented on #66
Follow up. I think the problem is way more wide spread. I got latest version this morning an I am having crashes in many places, for instance typing .equ crashes the IDE too.

[2018-02-06 14:06] Dotneteer commented on #66
Thanks for your feedback. I managed to find the issue, it was caused by a simple change in the Z80 Assembly parser I introduced to support the Z80 Assembler Output tool window.

[2018-02-06 14:08] #66 closed

[2018-02-08 00:18] davidblackuk commented on #64
Hi István

Appreciate your efforts. The ide is really looking good. I’m trying to start back blogging again and wrote this

http://www.overtakenbyevents.com/Spectrum-development-then-and-now-part2/

Hope you like it.

D

[2018-02-08 06:33] Dotneteer commented on #64
David, this article is fantastic! Thank you for supporting SpectNetIde! I'd be happy to involve you more deeply in the project -- I have so many plans and ideas, but me alone is not enough to implement everything...

[2018-03-04 11:17] davidblackuk opened #67 "Crash on start up when running from source"
Hi Istvan

I got latest version and after I launch SpectNetIde and opening my solution, I get an error dialog saying

An exception was encountered this may be caused by an extension.

At this point i cannot open any files. I have attached the log file they recommended looking at. I also emptied my appdata\local\Temp folder to see if it was a stale MEF cache (no luck)

[ActivityLog.txt](https://git

[2018-03-04 11:18] davidblackuk commented on #67
I al;so see this in the output window for SpectNet

System.Runtime.InteropServices.InvalidComObjectException: COM object that has been separated from its underlying RCW cannot be used.
   at System.StubHelpers.StubHelpers.StubRegisterRCW(Object pThis)
   at Windows.Foundation.Diagnostics.IAsyncCausalityTracerStatics.TraceOperationCompletion(CausalityTraceLevel traceLevel, CausalitySource source, G

[2018-03-04 11:31] Dotneteer commented on #67
(David, please try the newest version from master. As I see, you are 35 commits behind the current master.)

My guess is that the VS Extension cache got polluted. This is how you can clean it:

You can find your local extension folder in `%LocalAppData%\Microsoft\VisualStudio\15.0_something\Extensions`

Mine is in `C:\Users\dotne\AppData\Local\Microsoft\VisualStudio\15.0_acd5c2a1Exp\Extensions.`

[2018-03-04 14:16] davidblackuk commented on #67
Updated and cleared the cache and it's working now thanks.

[2018-03-04 14:16] #67 closed

[2018-03-14 06:28] rockdemon opened #68 "Ability to debug without reset?"
Hi,

I love the work you've done here. Something that would improve usability for me would be either a way to take a snapshot of a last known good state and the ablity to code into that snapshot or maybe the ability to be able to just compile into a running instance?

My use case when i was playing with it last night was to write a little basic program to call some machine code in a loop or simila

[2018-03-14 07:07] Dotneteer commented on #68
Rich,

When you run the Spectrum virtual machine, you can pause it, and save its state into a .vmstate file. Later, you can reload the state and continue running the machine. You can find these commands on the toolbar of the ZX Spectrum Emulator tool window. (Please note, the Add vm State to Project command has not been implemented yet.)

Nonentheless, it's a good idea to provide a way to inject t

[2018-03-14 07:09] Dotneteer opened #69 "Implement the Add VM State to Project command"
This command has a toolbar icon in the ZX Spectrum Emulator tool window, but has not been implemented yet.

[2018-03-14 07:35] rockdemon commented on #68
THat sounds fantastic and thanks for the tips too :)

[2018-03-15 10:15] Dotneteer opened #70 "Add a JUMP command to the Disassembly Tool Window"
Add the `J` _`hhhh`_ command to the Disassembly tool window to set the Program Counter (PC) to the specified _`hhhh`_ address. Allow this command only in paused state. After this command, the execution goes on the address given in this command.

[2018-03-15 10:21] #68 closed

[2018-03-15 10:44] #70 closed

[2018-03-15 13:52] #69 closed

[2018-04-30 11:59] castingflame opened #72 "I have a problem with the emulator not displaying correctly."
![screenshot_43](https://user-images.githubusercontent.com/11066890/39425961-bb250eb0-4c75-11e8-9972-94bca3d3fd3a.png)

All I am doing is using RST $10 to print to the screen and using your 'Debug' | 'Step through' buttons on the emulator.

![screenshot_44](https://user-images.githubusercontent.com/11066890/39426150-9b305122-4c76-11e8-97f1-129d9be5cf1a.png)

Cheers

[2018-05-02 15:42] Dotneteer commented on #72
Hi castingflame.

I suppose, you see these screens shots while the virtual machine is paused (as you debug your code). I do not know exactly what Z80 assembly code you run, but according to the way the ULA in ZX Spectrum creates the screen, it might be totally normal what you see.

When you pause the code, not only the CPU but the ULA is paused in the virtual machine, and the display shows the cur

[2018-05-03 04:09] Dotneteer commented on #72
:-)

[2018-05-03 04:09] #72 closed

[2018-06-29 19:19] madskristensen opened #73 "Security issue detected"
We’ve detected some invalid paths in the Dotneteer.SpectNedIDE-1.10.0.vsix which is embedded in your VSIX. The problem appears to be here: https://github.com/Dotneteer/spectnetide/blob/master/VsIntegration/Spect.Net.CodeDiscover.ProjectType/Spect.Net.CodeDiscover.ProjectType.csproj#L146 and below.

We have made the extension private at the Marketplace. You can mark it public any time once it is fi

[2018-07-02 15:24] madskristensen commented on #73
Files that install outside the root folder of the extension are not allowed.  Please ensure all files install to or under the root extension folder

[2018-07-20 14:08] Dotneteer commented on #73
Thanks for warning me, @madskristensen :-) I'm just about returning from my holidays, and will fix this issue soon.

[2018-07-20 15:07] Dotneteer commented on #73
Oh, fixing this issue was pretty easy :-). I simply forget some experimental settings in the TargetPath property of the custom project system files. I've removed them and made some small adjustments.
In a few minutes ago, I published the new version (1.10.1) and made it public.
@madskristensen: thanks again for reporting me this issue :-).

[2018-07-20 15:07] #73 closed

[2018-08-13 20:42] starquake opened #74 "Tutorial program in emulator not working"
I'm a C# developer that still loves his Speccy, so to find this blew my mind!

I was about to follow a tutorial but the result (at the bottom) does not work correctly in the emulator.
https://chuntey.wordpress.com/2010/01/12/tutorial-zx-spectrum-machine-code-game-30-minutes/

The keys don't work (bottom row of the speccy keyboard) and it crashes.

When I exported it to a TZX it worked fine in FUSE

[2018-08-14 03:37] Dotneteer commented on #74
Starquake,
Thanks for reporting me this issue. I will check it as soon as possible. I'd be happy, if you'd share any more details.

[2018-08-14 07:19] starquake commented on #74
Great! I'll see if I can look into it some more.

[2018-08-14 17:39] Dotneteer commented on #74
Starquake,

I checked the issue you mentioned. The code did not crash. I carried out these steps:

1. Created a new ZX Spectrum 48K PAL project
2. Copied the final code into the `Code.z80asm` file
3. Started the machine, and wrote into this BASIC program:
[code]
4. Paused the machine.
5. In Solution Explorer, I right-clicked `Code.z80asm`, and run the __Inject Z80 Code__ command.
6. In ZX Spectrum

[2018-08-15 06:02] starquake commented on #74
Wow that's amazing!

That's weird. I pasted the code in Zeus and there it worked too. Maybe some weird edge case?

I'll try it with your changes. Also thanks a lot for that PDF! That looks very helpful. Do you have any more tips? I'm off work for 3 weeks next week and planning to spend my time learning Z80 Assembly.

[2018-08-15 07:15] Dotneteer commented on #74
Starquake,

As of today, the community says that the code I provided is the one that should work properly. We still do not have info why the code works in other emulators...

[2018-08-15 07:26] Dotneteer commented on #74
starquake,

If it would not work, just zip the ZX Spectrum project and add the attachment into this issue. I still would like to check the crash. I'm happy to investigate any issue :-)

[2018-08-15 09:09] Asnivor commented on #74
@Dotneteer

I'm assuming the original code source was written on an emulator.

It's probably a safe bet that during an IN that the keyboard responds to, many emulators will mask away Bits 5-7 (as they are nothing to do with the current half-row) and set Bits 5 and 7 (as is necessary according to 48k reference at WOS [here](https://www.worldofspectrum.org/faq/reference/48kreference.htm)) before ret

[2018-08-15 09:15] Asnivor commented on #74
@starquake I believe FUSE has an 'Issue 2 Keyboard' emulation option. Maybe enable that and see if your compiled tzx still works the same?

[2018-08-15 09:32] starquake commented on #74
I'll check that. But reading the link gives me the impression you are on the right track. There's even a test for it in BASIC there.

[2018-08-15 09:35] Asnivor commented on #74
Also, I am not sure 253 is the correct choice here anyway.

This translates as:

[code]

But the code is looking for any change in the entire half-row, not just the Z key pressed.

When no keys on the half-row are pressed, B0-B4 are all set. cp 253 will detect that any other keys apart from Z are pressed and only detect a Z keypress when it is pressed with another key on the same half-row.

If my

[2018-08-15 09:55] Asnivor commented on #74
@starquake Yup, I see the BASIC test there.

@Dotneteer The doc on WOS states the following when INing from the ULA port:

[code]

So the actual value of Bit6 appears to be dependent on 1. The type of ULA and/or 2. The last value OUTed to 0xfe:

[code]

So, on a real speccy a keyboard half-row read with *NO* keys presssed should always return either 191 or 255.

So emulators over the years have ei

[2018-08-15 09:56] Dotneteer commented on #74
@asvinor: A pressed key is represented in a 0 bit, and not 1. So value 253 ($BF) checks if  Z is pressed.

In real code, I would not use this type of test. The correct way were this:

[code]

[2018-08-15 09:57] Dotneteer commented on #74
@asvinor: Thanks for the info on ULA revisions :-)

[2018-08-15 09:58] Asnivor commented on #74
@Dotneteer that is correct, but it looks like the original code is not checking for a single keypress, it is checking for *any* keypress on that halfrow. This is why 191 should work if Bit6 is reset.

[2018-08-15 10:14] Asnivor commented on #74
@Dotneteer just thinking out loud:

 cp is a subtraction without affecting a.

when cp 191 is executed:

if (a == n) { Z flag set }
if (a != n) { Z flag reset }

so if a key in the half-row is pressed, a != n and Z is reset.

then:

jr nz, moveright = jump to moveright is Z is reset

So we go to moveright if any key on the half-row is pressed

If you do cp 253 and the Z key is pressed (and nothing

[2018-08-15 10:53] Dotneteer opened #75 "Implement the Issue 2/3 way of handling bit 6 of the ZX Spectrum Port ($FE)"
This issue is about to solve the problem discudded in #74 .

[2018-08-15 10:55] Dotneteer commented on #74
@Asnivor, thanks for investing your time in solving this issue. According to the info you've sent me, I can clearly see that my SpectNetIde implementation does not handle Issue 2/3 with keyboard.

I opened a bug (#75) to resolve this problem :-).

@starquake, thanks a lot!

[2018-08-15 10:55] #74 closed

[2018-08-15 10:59] Asnivor commented on #74
@Dotneteer no problem :)

[2018-08-18 13:58] #75 closed

[2018-08-18 13:59] Dotneteer commented on #75
Issue fixed, it is available in v1.10.2.

[2018-09-13 13:31] gusmanb opened #76 "Exception on latest VS2017"
When I have the complement installed, each time I open VS it complains about cannot load SpectNetIde. This is all the info I could get:

SetSite failed for package [SpectNetPackage]Source: &apos;mscorlib&apos; Description: No se pueden cargar uno o varios tipos requeridos. Recupere la propiedad LoaderExceptions para obtener m&#x00E1;s informaci&#x00F3;n.&#x000D;&#x000A;System.Reflection.Reflection

[2018-09-14 16:48] Dotneteer commented on #76
Thanks, @gusmanb. Do you have an opportunity to check that this issue exists on English VS 2017? Fortunately, your error report gives me some hint. I have not managed to reproduce the issue on an English VS 2017 yet, nonetheless, I try...

[2018-09-20 17:08] gusmanb commented on #76
Hi. Sorry for the delay, I've been very busy this week. I can't install a new version of VS on this machine right now as it's my development one. But, next week I will receive a new HDD and I can try to install a completely clean Windows, a new VS, in english and spanish, and check if I can reproduce the problems on these.

If you need any other test under my current VS I will be very glad to perf

[2018-09-20 17:28] Dotneteer commented on #76
Great 😊. Let me know, what you find! I suspect, the issue might be correlated to Spanish VS 2017, or something else on your machine. Nonetheless, it might be a bug is SpectNetIde, too. I definitely keep this issue open.

[2018-10-04 21:33] miocr opened #77 "Extension starting issue"
Hi, I install specnetide extension. When Visual Studio 2017 starts, this error message appears

---------------------------
The 'SpectNetPackage' package did not load correctly.
The problem may have been caused by a configuration change or by the installation of another extension. You can get more information by examining the file 'C:\Users\User\AppData\Roaming\Microsoft\VisualStudio\15.0_460adfb2

[2018-10-05 06:07] Dotneteer commented on #77
@miocr , please send me the version number of Visual Studio you use. IS this version a fresh installation, or you have been using VS 2017 for a longer time on your machine?

[2018-10-05 08:07] miocr commented on #77
@Dotneteer Hi, I have 2 computers. Both systems I use longer time and VS also (VS 2017 for over a year). On machine first (Desktop with Win10Pro CZ) spectnetide works well. On second machine (NB with Win7Pro CZ) spectnetide does not work - reported issue. Both OS are set to Czech language.  Your spectnetide  extension is excellent! I would also like to use it on the second machine (NB). I'm a big

[2018-10-05 10:56] Dotneteer commented on #77
@miocr, thanks for the extra info :-). I guess, it must be something in regard to CZ Windows. You seem to be the second reporting the similar issue (see #76, which reports the issue on Spanish VS 2017). Now, I have some clues where to start finding the issue...

[2018-10-05 10:58] Dotneteer commented on #76
@gusmanb, it seems that there is some issue with .NET/Windows and the Spanish language. See #77, which reports the same issue on Check Windows...

[2018-10-07 06:40] Dotneteer commented on #77
@miocr, right now it seems (difficult to reproduce) that issue is Windows 7. I try to reproduce the issue on a virtual machine. I need one piece of information from you: did you install the SpectNetIde extension from Visual Studio Marketplace, or you used the downloaded source code to compile and run it on Windows 7?

[2018-10-07 08:45] Dotneteer commented on #77
@miocr, Thanks for the info. I will fix the issue with quotes in the post building event. I still did not manage to reproduce the issue. It is a good sign that the locally compiled package works :-).

[2018-10-07 08:47] Dotneteer commented on #76
@gusmanb, I have a few more questions to you to investigate the issue:
* What operating system do you use (OS and language versions, please)
* Did you install SpectNetIde from the Visual Studio Marketplace, or compiled the source code obtained from Git?

[2018-10-07 13:11] Dotneteer commented on #77
@miocr, please, send me your email address to dotneteer@hotmail.com, I'd like to share a private build with you for test!

[2018-10-07 17:05] Dotneteer commented on #76
Issue fixed in release 1.10.3

[2018-10-07 17:05] #76 closed

[2018-10-07 17:08] Dotneteer commented on #77
Thanks to @miocr for helping in the resolution. I did not manage to identify exactly what the reason of this issue was (it occurred on Windows 7 with non-English display language). Building the source with VS version 15.8.6 solved the issue. The fix is released in SpectNetIde 1.10.3

[2018-12-30 10:31] p3365 commented on #77
This issue is happening on my system (Windows 10 Pro). I downloaded this extension today and installed this extension into VS 2017 Community Edition. It fails to start with the error as shown above.

The 'SpectNetPackage' package did not load correctly.

The problem may have been caused by a configuration change or by the installation of another extension. You can get more information by examining

[2018-12-30 12:53] Dotneteer commented on #77
@p3365 , as you can see from the comment-snake above, I was unable to reproduce the issue. Please, share a few details about your environment!
* VS version number (in Help|About)
* Your Windows version and language

I exactly know the code line that raises this issue, but do not really find the rationale behind... Hopefully, the info you send me may help.

It also would be great, if you contact me

[2018-12-30 13:12] p3365 commented on #77
Hi Istvan. I was running against the vanilla version of VS 2017 (15.0.0). I updated to the latest version (15.9) and it now works correctly without any errors. It's a bit strange, perhaps if you install that version you would also get some errors? I have a couple more laptops, maybe I could reproduce it on one of these?

[2018-12-30 13:13] p3365 commented on #77
Its Windows 10 Pro, US English

[2018-12-30 13:33] Dotneteer commented on #77
Hi @p3365,

Your explanation helped me to understand that the issue was version 15.0.0. Unfortunately, SpectNetIDE does not work with that version anymore :-(. I know, it's strange, here's a short explanation:

From VS extensions point of view, 15.9 is very different from 15.0. The Visual Studio Extensibility (VSX) team continuously improves (changes) the IDE, and sometimes it means breaking compa

[2018-12-30 14:01] p3365 commented on #77
Thanks. I think it would be good if your extension refuses to install on VS minor versions that are not compatible. I am not sure if you can make it do that, does the VS environment support it?

[2018-12-30 14:07] Dotneteer commented on #77
Yes, that is possible. I can restrict the environments the VSIX installer will setup the extension. I will add this modification to my backlog :-). May I close the issue?

[2018-12-30 14:10] p3365 commented on #77
As a fellow software architect I would only close an issue when it's been fixed and released ;-)

But yes, you can close the issue!

[2018-12-30 14:13] Dotneteer commented on #77
You're right :-). I will keep close it when releasing the fix...

[2018-12-30 14:44] p3365 opened #78 "Support DS alias for DEFS"
I am assembling the example asm file at: [FasterSprites](https://github.com/ralphbecket/Z80/tree/master/FasterSprites).

This asm file uses the 'DS' alias for the DEFS assembler directive. It would be convenient for the SpecNetIDE assembler to recognise this directive"out of the box" without having to modify the original file to change 'DS' to be 'DEFS'.

This should be relatively simple change to

[2018-12-30 15:01] p3365 opened #79 "Support DEFG pragma without quotes"
I am assembling the example asm file at: [FasterSprites](https://github.com/ralphbecket/Z80/tree/master/FasterSprites).

This asm file uses the 'DEFG' assembler directive. In the original asm file, this directive does not have quotes around the definition of the graphical bits. The SpecNetIDE assembler requires the graphical bits to be quoted.

It would be convenient for the SpecNetIDE assembler t

[2018-12-30 17:00] Dotneteer commented on #77
Hi @p3365,

Unfortunately, restricting a Visual Studio extension to a minor version should be possible, but it does not work. (I experienced exactly the same phenomenon as described here: https://stackoverflow.com/questions/53178743/how-to-specify-vspackage-vsix-manifest-prereq-or-install-target-version-range). Whether it is a bug or a feature, a do not know :-(. I contact the VSX team and try to

[2018-12-30 17:45] p3365 commented on #77
Have you seen https://docs.microsoft.com/en-us/nuget/reference/package-versioning? You should be able to use brackets and asterisks to say, for example, '15.8 and newer' versions of VS.

[2018-12-30 17:47] p3365 commented on #77
I know this link refers to nuget, but the syntax in the Stackoverflow article seems to imply the same syntax and semantics.

[2018-12-31 07:10] p3365 opened #80 "VS IDE hangs when compiling a large z80asm file"
I have downloaded the Manic Miner source file from: https://github.com/WHumphreys/Manic-Miner-Source-Code

I have added the "ManicMiner.asm" file as "ManicMiner.z80asm" to a SpecNetIDE project in Visual Studio. When I compile this file, the IDE locks up (becomes unresponsive) for about 12 minutes. After 12 minutes the Errors window is populated with 12799 errors.

Ideally the IDE should remain res

[2018-12-31 07:15] p3365 opened #81 ""Error List" window is not cleared when opening a different VS solution"
Open a solution, and Compile a .z80asm file that contains errors. The Error List is populated with errors.

Close the solution, and open a new solution. The Error List still contains errors from the previous solution. The Error List should be cleared as soon as the new solution is opened as the errors are no longer relevant.

[2018-12-31 07:30] p3365 opened #82 "Macros to calculate values?"
I have been experimented with macros, more specifically having macros to calculate values. Is this possible?
I have tried to create some macros to calculate values, for example:

[code]

I hoped to use this like:

`LD A, Ink(BLACK) | Paper(WHITE)`

or

`DEFB Ink(BLACK) | Paper(WHITE)`

For the above I get the error:

**Error		Z0100: Unexpected token: '<<'**

Is this possible, or is there a better

[2018-12-31 07:40] p3365 opened #83 "Support public/private scoping of symbols"
I would like to be able to define a public interface to included z80asm files, keeping all other labels and symbols private to that file.

Pasmo allows me to scope a block of assembler using the [PROC/ENDP directives](http://pasmo.speccy.org/pasmodoc.html#dirproc).

This allows me to include a Z80 asm file into my project, and define the public interface to it, but keep all other labels and symbol

[2019-01-01 16:54] p3365 opened #84 "Forward Declarations when calling macros causes errors"
The following program compiles fine:

[code]

However the following program, which uses a macro generates an error:

[code]

**Error		Z0201: This expression cannot be evaluated promptly, it may refer to an undefined symbol**

If I move the declaration of TestMsg to the start of the file it compiles successfully;

[code]

[2019-01-01 16:59] p3365 opened #85 "Undefined symbol errors should indicate which symbol is undefined"
Its quite frustrating in a complicate program to determine what the actual error is. This is especially apparent when using macros as there is a bit of "assembler magic" going on.

I currently get an error:

[2019-01-15 06:09] Dotneteer commented on #78
This feature will be implemented soon, in v1.12

[2019-01-15 06:58] Dotneteer commented on #85
This feature will be implemented soon, in v1.12

[2019-01-15 07:21] Dotneteer commented on #82
The macros in the current SpectNetIde Z80 Assembler are not designed to calculate values. The assembler can use them only to emit instructions or pragmas. From the sample you provided, I see the pattern you'd like to apply. I've been thinking about adding user functions to the assembler for a while, nonetheless, I need to design this feature first.

Today you can do something like this:

[code]

I

[2019-01-15 07:52] Dotneteer commented on #79
__This is an absolutely useful request.__ Today, you need to use quotes because the compiler supports using string expressions so that you can add complex values and not just literals. So today you can do something like this:

[code]

If I want to implement the pattern you suggest, I have these alternatives:
* _Remove the DS feature to use string expressions._ This is the easiest, however, breaks

[2019-01-15 07:53] Dotneteer commented on #77
I was unable to find a solution for this issue, so I close it. I March I'll be in Redmond, and try to discuss the issue personally with the VSX team.

[2019-01-15 07:53] #77 closed

[2019-01-15 07:58] Dotneteer commented on #81
This bug will be fixedsoon, in v1.12

[2019-01-15 08:01] Dotneteer commented on #83
__Useful feature.__ I need time to examine the request &mdash; I intend to implement it.

[2019-01-15 08:30] Dotneteer commented on #78
Fixed, ready to deploy.

[2019-01-15 09:40] Dotneteer opened #86 "Implement the .DEFH/DH pragma to store byte vectors specified with hexadecimal strings"
Besides the existing pragmas, support .DEFH/DH:

[code]
When compiled, this pragma would emit 64 bytes, such as $07, $C7, $E5, $D7, and so on.

[2019-01-15 09:46] Dotneteer commented on #85
Fixed, ready to deploy.

[2019-01-15 09:46] Dotneteer commented on #81
Fixed, ready to deploy.

[2019-01-16 06:14] Dotneteer opened #87 "Implement the .DEFN/DN pragma to emit null terminated strings"
This pragma should work exactly like DEFM/DM, and emit a 0x00 byte as a terminator.

[2019-01-16 13:03] p3365 commented on #79
For me, the DS feature is not important, although it may be for other people, and breaking backwards compatibility is not ideal (if that feature is being used).

Ideally the quotes would be optional, and the compiler should work either way (and be backwards compatible).

[2019-01-16 13:08] p3365 commented on #82
Yes, for this example, built-in functions for calculating paper ink or attribute values would work. If a general purpose use of macros to calculate values is not possible then that is OK. I suppose I was using these macros like old-style C/C++ macros rather than Z80 compiler macros.

It may be useful to add something to the documentation to say that a macro must emit an instruction?

[2019-01-16 13:11] Dotneteer commented on #79
According to a short survey among my friends, I plan to implement this solution if a few days:
* I create a new pragma, DEFGX (or with an alias, DGX) that will overtake the behavior of the existing DEFG/DG pragma.
* I will change the behavior of the DEFG/DG pragma to work without quotes.
This will break the backward compatibility but will cause only minor pain.

[2019-01-16 13:14] Dotneteer commented on #82
__Your suggestion about documentation is absolutely useful.__ Let me ask for your advise: Would you put this comment right into the overview of macros in the documentation (https://github.com/Dotneteer/spectnetide/blob/master/Documentation/Z80Assembly/Z80AssemblerReference.md#macros) or somewhere else within the Macros section?

[2019-01-16 14:12] p3365 commented on #82
Yes that sounds like a good place to put the information, thanks!

[2019-01-16 14:12] p3365 commented on #79
Sounds perfect!

[2019-01-16 15:25] Dotneteer opened #88 "Add new built-in functions to the Z80 Assembler."
These new functions are assumed to support screen handling. Do not forget, they run at compile time and not at run time!

* `scraddr(line, column)`: retrieves the memory address of the screen pixel byte in the specified _line_ (from top to bottom, 0-192) and in the specified _column_ (from left to right, 0-255).
* `attraddr(line, column)`: returns the memory address of the byte specified screen at

[2019-01-16 15:44] Dotneteer opened #89 "Change the Z80 Assembler so that "*" could work as the current address operator (besides "$" and ".")."

[2019-01-16 16:16] Dotneteer commented on #89
This feature will be implemented soon, in v1.13

[2019-01-16 16:16] Dotneteer commented on #79
This feature will be implemented soon, in v1.13

[2019-01-16 16:17] Dotneteer commented on #82
Documentation will be fixed soon, in v1.13

[2019-01-16 16:17] Dotneteer commented on #88
This feature will be implemented soon, in v1.13

[2019-01-16 16:20] Dotneteer commented on #80
Will be fixed in v1.13.

[2019-01-17 15:54] p3365 opened #90 "Support "Step Out" function in the debugger"
The debugger supports "Step Over" and "Step Into" function. If you step into a large function there's now way to step out of the function, in order to terminate the single stepping inside that function. It can take considerable time to single step through lines of assembler until you hit a RET instruction.

One way of achieving this at the moment is to set a breakpoint on the instruction after the

[2019-01-17 16:48] p3365 opened #91 "Watch memory (using symbols?)"
When I debug my program, I like to look at the contents of memory to see exactly what is stored.

For example, I may have a memory location declared within my program that has a label:

`LD DE,(PRINT_LOC)`

Somewhere else in the program this is declared:

`PRINT_LOC: DEFW 0`

The actual memory location of the above label is generated at compile time. I wish to look at the content of this address.

[2019-01-18 03:00] nww02 opened #92 "Break points seem to cause problems if moved when running"
When I'm running the code, to set a breakpoint I need to pause the program, set the breakpoint and then start the code running again.

Sometimes this has a few bad side-effects:

- having to pause/unpause the program adds unwanted steps.
- the breakpoint circle symbols vanish (although the breakpoint is still there)
- the highlighting stops working correctly.  When you're stopped at a breakpoint,

[2019-01-18 03:07] nww02 opened #93 "[feature request] F5 to compile + deploy"
I don't know if I'm missing it, but it seems that the only way to recompile and run is to use the mouse, which also pops up two dialogs, and needs a right-click at a specific point, and then moving the cursor onto the spectrum window to highlight.  It would be great if there were hot keys to do that, so I didn't have to keep reaching for the mouse and clicking away dialogs...

F5 to
* compile
* de

[2019-01-18 03:12] nww02 opened #94 "[feature request] Step function keys work when pointing at the code"
When I'm debugging, the focus often shifts back from the ZX VM to the code window, especially when a breakpoint is hit.  If I'm using F10 to step, or F5 to skip through breakpoints, then the F keys stop stepping when focus moves away from the VM.  To use them, I have to click on the VM to focus on it first.

This kinda makes them less useful, and I find myself clicking with the mouse to step / run

[2019-01-18 03:20] nww02 opened #95 "[feature request] auto-jump to memory location on program start"
Whenever you stop/start the code, the memory window resets back to 0000 or 3DF0.

Therefore, I have to keep highlighting the window, doing g 8000 (or similar) to locate my memory, every time I run the program.

I'm probably missing it, but if the feature isn't there, could you please add something that auto-jumps the memory window (on execution) to:
a) the first byte of the code,  or;
b) wherever

[2019-01-18 03:37] nww02 opened #96 "[bug] Multiple projects in a solution causes problems"
I tried to create a solution with two projects in.

I was surprised to see my second project seemed to compile first time (when I right-clicked on the second project and selected compile).  It seems the compiler was compiling the FIRST project in the solution, and completely ignoring the second.

Even unloading the first project, it still tried to compile the (now unloaded) first project.  Then de

[2019-01-18 03:41] nww02 opened #97 "[bug] Cancelling a New Project still creates the folder"
to recreate:

  Close any open solution, then select "File > New Project", and select the ZX Spectrum Code Discovery Project, enter a Name in the name box, but then click [Cancel] to abort the creation of the new solution/project.

  If you navigate to the folder, you should see that despite aborting the creation the folder has already been created and the template structure imposed on it.

This d

[2019-01-18 07:26] #88 closed, assigned to nobody

[2019-01-18 07:39] Dotneteer commented on #97
@nww02, the issue you mention happens when you click OK in the "File > New Project" dialog after selection the ZX Spectrum Code Discovery project type, and click Cancel in the Create a New ZX Spectrum Project dialog.

Right now, it is a VS 2017 feature/bug. The IDE immediately creates the project folder (before popping up the dialog for the ZX Spectrum machine type). When the user cancels project

[2019-01-18 07:46] Dotneteer commented on #96
VS IDE has a very complex project system behind what you see in Solution Explorer. It is extremely poorly documented. I use an obsolete custom project system to implement (and represent) the ZX Spectrum project types. In the past I tried to resolve this issue, I spent weeks with it, but was unable to produce a decent solution -- due to the poor documentation.

So, as a kind of limitation, you can

[2019-01-18 07:46] #96 closed

[2019-01-18 07:52] Dotneteer commented on #95
I'm happy to implement such a feature. What about this solution:
* If there's an `ENT` pragma in the code (entry point), the Z80 Disassembly window opens this location.
* Else, if there's an `XENT` pragma in the code (exported code entry point), the Z80 Disassembly window opens this location.
* Otherwise, the Z80 Disassembly window opens the start location (ORG) of the code.

You can use this beha

[2019-01-18 07:57] Dotneteer commented on #94
Several months ago I had a run around this feature. I could solve using the F keys while you are in the Z80 Disassembly or ZX Spectrum Memory window, but I could not take the control when you pressed F keys while in the code window. The issue is that VS IDE code window catches the F keys. Nonetheless, I try to find some fresh solutions...

[2019-01-18 07:57] Dotneteer commented on #93
See my comment in #94.

[2019-01-18 07:58] Dotneteer commented on #92
Examining the issue...

[2019-01-18 07:59] Dotneteer commented on #91
Useful idea. I need time to design and implement this feature...

[2019-01-18 08:09] Dotneteer commented on #90
When I designed the debugger, I was thinking about such a feature. The question I could not solve elegantly was to decide where do you complete a procedure/function. There might be many ways.
* `RET` (even its conditional forms) is relatively easy, however, it still has challenges.
* Many functions terminate with a JP to somewhere outside, for example back to the MAIN execution cycle point -- well

[2019-01-18 16:12] p3365 commented on #90
I agree that it would be difficult to cover all situations.

In my use case, covering the **"CALL"** (step into) and **"RET"** (step out) scenarios would be perfect including all variants of RET).

If the code does weird stuff (e.g. CALL, POP then JP) then this would simply run until the next RET. I can't see any way of detecting all of these special cases.

However, you _could_ monitor the stack

[2019-01-18 17:01] CZEMacLeod opened #98 "Please nest z80 menu entries for solution explorer context menu"
The 5 extra Z80 menu entries available in the context menu of the solution explorer make the menu very untidy, especially when not using the add-in.

Would it be possible to put these as a sub-menu under a Z80 menu entry or similar? It could be selected from the options for backwards compatibility.

[2019-01-19 00:33] nww02 commented on #97
:)  Good stuff! :)  hehe

[2019-01-19 00:36] nww02 commented on #95
As I often place my used variables at the .org point, yep, that works perfectly for me.    I'll have to research the .xent pragma to see if that can be used by anyone else who would want to focus on their variables.

For the most part, you want to use the memory screen to see where your first defb is at more often than where your code is, I think.

Although, I see others asking for a watch window,

[2019-01-19 00:38] nww02 commented on #94
Thanks!
  It would really help the usability and ease of debugging, as at the moment it involves a lot of clicking to overcome! Thank you for considering this! :)

[2019-01-19 00:39] nww02 commented on #92
Thanks.    It's happened quite a few times.  I only have some small apps, but over time, with the moving around of breakpoints, at some point the code will stop, and the UI just seems to go a bit haywire.    Probably a VS bug :)

[2019-01-19 00:50] nww02 opened #99 "[feature request] Highlight where PC,SP,IX, IY, HL are addressing in memory map window"
When I'm debugging, I often have one or more of the 16-bit registers pointing at chunks of memory.    Especially when I'm blitting bytes to/from screen RAM.

It's relatively easy to look at 80B0 then count 5 over to 80B5  (or whatever), but it does add time...

It would be nice if, after the running code changes their value, the 16-bit regs could be colour coded and the byte in memory which is at

[2019-01-19 00:58] nww02 opened #100 "[usability enhancement] conditional breakpoints"
I don't know if conditional breakpoints work. I tried setting them in the code as (for example)   HL == $80DF  , but that didn't seem to work.

If conditional breakpoints don't work yet, it would be great to be able to use that VS functionality to help with debugging.     At the moment I have a workaround which looks something like:-

                      LD      A, L
                      CP

[2019-01-19 05:58] Dotneteer commented on #95
Thanks for the addition! I will implement the Watch window, but it will take time. Your suggestion is a "cheaper" feature.

[2019-01-19 07:41] Dotneteer commented on #98
@CZEMacLeod, putting all Z80 entries into a sub-menu is pretty easy, so I could quickly fix it. Nonetheless, VS IDE has limitations on using run time options to change the menu structure. When you install an extension in VS IDE, it merges new menu functions into the original menus of VS _in installation time_. Of course, I try to provide maximal backwards compatibility.
To implement your request,

[2019-01-19 07:47] Dotneteer commented on #100
@nww02, conditional breakpoints do not work yet. Implementing them is already in my backlog (it's a big user story), but I always find something else that is cheaper and more valuable to implement. Hopefully, in a few weeks I can work on this feature.

[2019-01-19 07:53] Dotneteer commented on #99
It would be a very useful feature. With the current architecture of the ZX Spectrum Memory window it requires a thorough refactoring, but it's not impossible :-).
I also plan to display memory addresses as you move the mouse over memory bytes.

[2019-01-19 08:05] Dotneteer commented on #95
Feature implemented, will be released soon. Works with the ZX Spectrum Memory and Z80 Disassembly tool windows.

[2019-01-19 09:52] Dotneteer commented on #94
Well, after reading a lot of documentation and forums, I recognized that implementing a feature that can catch F5, F10, F11 (and any other function keys normally assigned by VS IDE to a project system specific command, such as Start, Start without Debugging) is a real nightmare. I had to implement a number of classes with about hundred lines of code -- and its an undiscovered area for me.

Nonethe

[2019-01-19 16:39] Dotneteer commented on #93
As I described in #94, it is very complicated to make F5 or Shift+F5 work as you'd like. However, you can easily get rid of the complicated start :-).

This is how it will work when I release the fix:

* In __Tools|Options__ within the Spec.Net IDE, you find three options, "Confirm code injection", and "Confirm code start", and "Confirm machine restart" respectively. Set them False to get rid of c

[2019-01-19 17:04] Dotneteer commented on #98
Reading again your request, I guess, the real issue is (this is what you mean "untidy") that the ZX Spectrum-related functions should not be displayed in Solution Explorer when a different kind of project is loaded.
Well, it is a bug, so I will fix it. I won't create a sub-menu for these command, so you will see them as they are right now, but only for ZX Spectrum projects. __In other projects, yo

[2019-01-19 17:15] Dotneteer commented on #93
Implemented, will be released soon.

[2019-01-19 22:19] nww02 commented on #100
Cool.  :)  thanks :)

[2019-01-19 22:32] nww02 commented on #95
Awesome!! Thanks :)       Your work is helping me realise a dream I've had for 35 years... Thank you so much!

[2019-01-19 22:33] nww02 commented on #93
That's great! thank you :)

[2019-01-20 09:20] Dotneteer commented on #98
Fixed, will be released soon.

[2019-01-20 09:44] Dotneteer commented on #94
Fixed, released in v1.13.1.

[2019-01-20 09:44] #94 closed

[2019-01-20 09:46] Dotneteer commented on #98
Fixed, released in v1.13.1. If you find my project valuable, please star it on GitHub and/or leave a review at https://marketplace.visualstudio.com/items?itemName=Dotneteer.SpectNetIde.

[2019-01-20 09:46] #98 closed

[2019-01-20 09:46] Dotneteer commented on #97
Fixed, released in v1.13.1. If you find my project valuable, please star it on GitHub and/or leave a review at https://marketplace.visualstudio.com/items?itemName=Dotneteer.SpectNetIde.

[2019-01-20 09:46] #97 closed

[2019-01-20 09:46] Dotneteer commented on #95
Fixed, released in v1.13.1.

[2019-01-20 09:46] #95 closed

[2019-01-20 09:47] Dotneteer commented on #93
Fixed, released in v1.13.1.

[2019-01-20 09:47] #93 closed

[2019-01-21 07:29] Dotneteer opened #101 "Indicate in the captions of tool windows when the virtual machine runs in Debug mode"
Add the "(Debugging)" text to the caption when the VM runs in debug mode.

[2019-01-21 12:08] Dotneteer commented on #101
Implemented, will be released soon.

[2019-01-21 15:21] Dotneteer commented on #90
Implemented, will be released soon.

[2019-01-22 08:31] hadmir opened #102 "Emulator screen too small"
It would be nice to have feature to double size of emulator screen Current size is too small on some (large) monitors.

[2019-01-22 09:07] Dotneteer commented on #102
@hadmir, would you please help me with a few info how big screen/monitor you have right now? A screenshot would help me :-).
Right now, the emulator screen size dynamically changes with the wrapping window size, but up to 500% or the original (ZX Spectrum) resolution. I can easily fix it for you.

[2019-01-22 09:44] hadmir commented on #102
Currently I have 40" monitor, 4K res, screenshot is here:
![zx](https://user-images.githubusercontent.com/19718133/51526422-98119d00-1e32-11e9-94b0-64eb41fbbaea.png)

[2019-01-22 09:59] Dotneteer commented on #102
@hadmir, I see what you mean :-). Nonetheless, as you enlarge the ZX Spectrum Emulator window, the screen size changes dynamically (up to 500%, while it fits in the window). You can also drag the emulator window into a floating window, or even move to the second/third monitor. When I debug a Z80 program, most of the time, I move the emulator to another monitor.
I will change the zoom factor to all

[2019-01-22 12:41] hadmir commented on #102
OK, I didn't notice this resizing, because it is in "steps", so when I changed size a little bit, it stayed same (small) size. I just needed to resize more and then it works. Thanks!

[2019-01-22 12:41] #102 closed

[2019-01-23 05:52] Dotneteer commented on #99
Implemented :-).

Now, the memory view highlights the addresses pointed by BC, DE, HL, IX, IY, PC, and SP.

![image](https://user-images.githubusercontent.com/4783390/51585806-19bd0580-1edb-11e9-81f1-39a79fe48eec.png)

As you move over a memory contents value, the view displays a few data in a tooltip, including the memory address and registers pointing to that very memory address.

In the __Tools

[2019-01-28 06:31] Dotneteer opened #103 "Open the default browser to display SpectNetIde help pages, as Github does not support IE anymore."
Right now, the pages are displayed within the VS IDE. Instead, open the URL in the default browser.

[2019-01-29 07:16] Dotneteer commented on #103
Released in v1.14.0

[2019-01-29 07:16] #103 closed

[2019-01-29 07:16] Dotneteer commented on #101
Released in v1.14.0

[2019-01-29 07:16] #101 closed

[2019-01-29 07:16] Dotneteer commented on #99
Released in v1.14.0

[2019-01-29 07:16] #99 closed

[2019-01-29 07:17] Dotneteer commented on #91
Released in v1.14.0

[2019-01-29 07:17] #91 closed

[2019-01-29 07:17] Dotneteer commented on #90
Released in v1.14.0

[2019-01-29 07:17] #90 closed

[2019-02-01 16:01] Dotneteer commented on #92
@nww02, I examined the issues you mentioned.
* I solved the pause/unpause issue, so now, you can set/clear a breakpoint while the code is running.
* The breakpoint circle seems to be a VS bug &mdash; I can reproduce it. In the code, I do not do any drawing, I simply receive the list of currently set breakpoints from the IDE.
* I try to find some fix for the highlighting issue,

I will release the

[2019-02-03 22:11] nww02 commented on #92
Ah, great! I'm glad you nailed down the issue.    So many bugs in VS2017!!!  I've stuck with VS2010 until I saw SpectNetIDE used '17.     Thanks for the fixes!  Looking forward to the next release :)

[2019-02-04 07:46] Dotneteer commented on #100
Released in v1.15.0.

You can find a detailed description about setting up conditional breakpoints here: https://github.com/Dotneteer/spectnetide/blob/master/Documentation/References/DisassemblyCommands.md#breakpoint-commands.

You can also set up conditional breakpoint for the source code:

When you have just set a breakpoint, select Settings:

![image](https://user-images.githubusercontent.com/4

[2019-02-04 07:46] #100 closed

[2019-02-04 07:55] Dotneteer commented on #92
Fixed in v1.15.0. I could improve a bit on the highlight colors, but was unable to find the sources of the VS bug.

[2019-02-04 07:55] #92 closed

[2019-02-04 22:09] nww02 commented on #100
This is So helpful, thank you! :-)   Debugging loops just got a WHOLE lot easier! thank you so much!! :D

[2019-02-04 23:25] nww02 opened #104 "[cosmetic] ZX spectrum keyboard label wrong"
The Sym Shift of 5 says "DEF FN", but should be "Close #"

Also, 7 does not have "WHITE" above it.

:-)

[2019-02-05 00:03] nww02 commented on #95
It works perfectly, thank you! :)

[2019-02-05 01:16] nww02 opened #105 "[bug] multiple labels in the Disassembly window not quite working..."
I placed four labels in my program "sub1", "sub2", "sub3" and the last (fourth) was at 8000 called zStart with "L 8000 zStart" (I would have used "Start", but that's already taken at 0000).

I then placed a label at 8080 (the end of my code) called "zEnd" with "L 8080 zEnd".

I could then G(oto) zStart  by typing "G zStart"  .  However, attempting to "G zEnd" results in "Cannot find symbol 'zEnd'.

[2019-02-05 01:20] nww02 opened #106 "[feature request] Define Disassembly ranges in terms of labels"
Rather than type addresses, it would be nice to be able to define the interpretation regions using labels.

i.e. it would be nice to be able to place a label at the start of the app (e.g. zStart) and one at the end (e.g)  zData, and one at the end of the data section (e.g. zEnd).  now,  no matter how much my app changes size, one could reformat easily (without needing to recalculate locations) by

[2019-02-05 10:19] Dotneteer commented on #105
@nww02, just to be clear: while you carried out the scenario above, did you use a Z80 program previously compiled/injected with Z80 IDE? If yes, did that code has symbols "zStart" or "zEnd"?

[2019-02-06 12:08] ArjunNair opened #107 "Display oddity"
![specnetide](https://user-images.githubusercontent.com/1013419/52340344-897fd400-2a35-11e9-8a63-87d899e8c932.png)

I'm not sure if it's just me, but there appears to be something funny going with the pixels over the copyright symbol. It seems to be related to issue 72, but in my case the emulator isn't paused or anything.

[2019-02-06 12:21] Dotneteer commented on #107
@ArjunNair, can you reproduce it? If yes, please zip the entire solution folder and upload it to this issue so that I can analyze it!

[2019-02-06 16:47] ArjunNair commented on #107
[SpectrumCodeDiscovery1.zip](https://github.com/Dotneteer/spectnetide/files/2837341/SpectrumCodeDiscovery1.zip)

Yes, I get the same issue every time. I've zipped and attached it here but it's actually the example Code Discovery project that comes with the VISX!

[2019-02-06 16:48] Dotneteer commented on #107
Thanks, I will check it soon!

[2019-02-06 17:27] Dotneteer commented on #107
@ArjunNair, I wanted to check if the files within the solution are not corrupted, and this why I asked you to upload them.

The solution works perfectly on my machine, it produces the expected screen on my both monitor, so I cannot reproduce the oddity. I guess, there might be issues with something within the XAML bitmap rendering on your machine -- but it is just guessing.

I saw that the image y

[2019-02-07 09:07] ArjunNair commented on #107
Ok, I'll check and get back to you in a bit. Note that I posted with 3x zoom just to show the issue at a meaningful resolution. The issue happens irrespective of the window size, however. I noticed that if I add some bit of code to write pixels to the screen, I don't get the same issue anymore (something to do with HALT and the ULA rendering maybe?). Another odd thing is, that when the emulator st

[2019-02-07 09:33] Dotneteer commented on #107
@ArjunNair, I managed to understand what's going on :-). You actually ran the code in the `Code.z80asm` file :-). This code results the odd screen on my machine, too, so I could reproduce it.
I know why it displays the odd screen, and in a next comment I will explain it to you :-) -- now I need to leave for a customer...

[2019-02-07 13:36] Dotneteer commented on #107
@ArjunNair, as I promised, here is the explanation:

When you run the code, SpectNetIDE carries out these steps:
1. Starts a new ZX Spectrum and pauses it when it reaches the __$12A9__ address -- it is the main statement execution loop. (To accelerate the startup, the IDE loads this paused state from the cache, provided the state already exists)
2. Injects the code into the memory.
3. Sets the PC

[2019-02-07 14:05] Dotneteer commented on #107
Fixed, will be released soon.

[2019-02-07 15:34] ArjunNair commented on #107
Sounds good! Thanks!

[2019-02-09 23:59] nww02 commented on #105
Hi There,
  The process I used:
1. Write an assembly program using SpectNet
2. Open the Assembly Window
3. Place the labels using the "L" commands in the assembly window where the three subroutines I wanted to monitor were.
4. Place a label at the beginning of the code called zStart
5. Place a label at the end of the code called zEnd

As soon as I placed the label called "zEnd", I noticed that the

[2019-02-10 06:22] Dotneteer commented on #105
@nww02 , thanks for the info! What I have found so far is that the `L` and `G` commands did not work with labels that addressed the RAM area (address >= $4000). I refactor all Disassembly and Memory tool window commands now to understand symbols and handle them as alternatives for hexadecimal addresses. This would be a solution for #106, too I also decided to allow decimal numbers.

[2019-02-10 09:34] hadmir opened #108 "[feature request] Pragma .repeat"
Two nice to have pragmas:

a) Repetition
.repeat n
   something
.endrepeat

b) same with possibility to use repetition counter as variable <0, n-1>:
.repeat n a
  something
.endrepeat

Example, create array of byte values 0..255:
.repeat 256 val
    .defb val
.endrepeat

[2019-02-10 09:51] hadmir opened #109 "[feature request] Pragma .align"
pragma .align is basically .skip but for number of bytes defined at compile time.

Example: if I have lookup table of size 30, I can allign it to 32 bytes (.align 32) to ensure that higher byte address is always same, so I can calculate only lower byte. If I need to iterate that array, I can do inc l, instead of inc hl, etc.

[2019-02-11 12:46] Dotneteer commented on #109
@hadmir , the SpectNetIDE Assembler already knows `.align`: https://github.com/Dotneteer/spectnetide/blob/master/Documentation/Z80Assembly/Z80AssemblerReference.md#the-align-pragma  :-)

If you've meant something else, please let me know!

[2019-02-11 12:48] Dotneteer commented on #108
@hadmir, I'm happy to tell you that this feature is already implemented. You can find other kinds of loops already offered be the SpectNetIDE assembler here: https://github.com/Dotneteer/spectnetide/blob/master/Documentation/Z80Assembly/Z80AssemblerReference.md#statements :-)

[2019-02-11 21:05] zxlame opened #110 "[feature request] Pragma .scope/.escope"
Named scopes like the module from sjasmplus
      .scope Module1
label1
      .escope
     .scope Module2
label1
      .escope
Generate labels Module1_label1 and Module2_label1
Or something like this.

[2019-02-12 05:53] Dotneteer commented on #110
@zxlame, the SpectNetIDE assembler knows this feature with a bit different syntax (`.proc` ... `.endp`): https://github.com/Dotneteer/spectnetide/blob/master/Documentation/Z80Assembly/Z80AssemblerReference.md#the-procendp-block

[2019-02-12 18:01] zxlame commented on #110
Of course, I read about the proc, but I did not find how to refer to the inner label from the outside.

[2019-02-12 18:05] zxlame opened #111 "[feature request] .struct/.estruct"
I have not found an analogue of structures. If they are not there, you can add them, I used them quite often for in sjasm and it is very convenient.

[2019-02-12 18:06] Dotneteer commented on #110
@zxlame, now I see, what you're request is about. It seems a useful feature, so I will think about it! Hopefully, in a few weeks I can implement it -- probably with a bit different syntax that is closer to the approach SpectNetIDE uses right now.

[2019-02-12 18:13] Dotneteer commented on #111
@zxlame, thanks for the suggestion. Implementing structs requires adding totally new mechanisms to the SpectNetIDE assembler, but I guess it is worth the investment. I think it over, and will add a comment to this issue when I have more details or estimates about the implementation :-)

[2019-02-12 18:25] zxlame commented on #111
In the sjasm structure, this is actually a named scope with data offsets. Simply explain with an example.
[code]

Generate labels
exampl =6
exampl.field1 =0
exampl.field2 =1
exampl.field3 =3
And

 `      .ds exampl*32`

Reserved space for 32 object "exampl"
Thanks for your work!

[2019-02-12 18:28] zxlame opened #112 "[feature request] #IFUSED"
And the last thing that I personally lack in the spectnetide. A conditional combination if previously there was a reference to the label. Convenient to create include libraries with selective compilation.

[2019-02-13 06:25] Dotneteer commented on #112
@zxlame, I suppose, you'd like to have this feature as SjAsm defines it. Well, SpectNetIDE is a one-pass fixup-type assembler, implementing #IFUSED and #NIFUSED is a hard nut. I see this feature has relatively low value against the investment it needs, so I put it down in my backlog.
_I intend to implement it, but deal with more valuable features first._

[2019-02-13 12:56] #109 closed

[2019-02-13 12:56] #108 closed

[2019-02-13 13:41] Dotneteer commented on #106
Implemented, will be released soon.

[2019-02-13 13:42] Dotneteer commented on #105
Fixed, will be released soon.

[2019-02-13 15:10] Dotneteer commented on #107
Released in v1.16.0.

[2019-02-13 15:10] #107 closed

[2019-02-13 15:11] Dotneteer commented on #104
Fixed in v1.16.0

[2019-02-13 15:11] #104 closed

[2019-02-13 15:11] Dotneteer commented on #105
Fixed in v1.16.0

[2019-02-13 15:11] #105 closed

[2019-02-13 15:11] Dotneteer commented on #106
Released in v1.16.0

[2019-02-13 15:11] #106 closed

[2019-02-13 15:14] Dotneteer commented on #107
@ArjunNair, if you like this project, please star it on Github :-)

[2019-02-13 20:13] hadmir commented on #109
Great, documentation you linked is however much better then one I had form "wiki" section of this project (https://github.com/Dotneteer/spectnetide/wiki/Z80-Assembler-Reference).

[2019-02-13 20:19] hadmir commented on #108
Yeah, I had old version of reference manual, now I see it, there everything and more. ;-) Keep up the good work!

[2019-02-14 01:42] nww02 commented on #106
Brilliant, thanks :)

[2019-02-14 01:43] nww02 commented on #105
Great! Will give it a try! Thanks!

[2019-02-14 01:44] nww02 commented on #104
:-)  cool, thanks!

[2019-02-14 01:58] nww02 opened #113 "Unable to install 1.16 update"
Attempting to upgrade from 1.15 to 1.16 using the Extensions and Updates window in VS2017 fails. The window just instantly closes when you click "Update".

Removing 1.15 and attempting a clean install of 1.16 results in the following error message:

"The extension could not be installed because the following error occurred:   The remote server returned an error: (500) Internal Server Error."

Inst

[2019-02-14 05:13] Dotneteer commented on #113
About 3 hours after you, I still get the same error message. It must be either a Visual Studio error or a temporary Visual Studio Marketplace error.
Nonetheless, you can download the install kit from Visual Studio Markeptplace directly: https://marketplace.visualstudio.com/items?itemName=Dotneteer.SpectNetIde
After that you can run the VSIX file to install SpectNetIDE. I tried and it worked.
I not

[2019-02-14 05:16] Dotneteer commented on #113
I've just read in an internal MVP mailing list that other users experienced the same issue with other extensions.

[2019-02-15 05:43] Dotneteer commented on #113
@nww02, The Microsoft Visual Studio Extensibility group confirmed that the issue is at their side, it seems nothing to do with SpectNetIDE itself. They working on resolving the issue.

[2019-02-15 13:48] Dotneteer commented on #113
@nww02, though I did not get an official answer yet, it seems so that the VSX team has resolved the Internal Server Issue. When I get the notification, I will close this issue.

[2019-02-15 15:51] #113 closed

[2019-02-15 16:38] Dotneteer opened #114 "[Z80 Assembly feature] Allow specifying binary literals with 'b' and 'B' suffixes"

[2019-02-15 16:39] Dotneteer opened #115 "[Z80 Assembly feature] Allow specifying octal literals with 'o', 'O', 'q', and 'Q' suffixes"

[2019-02-15 16:41] Dotneteer opened #116 "[Z80 Assembly feature] Allow block comments ('/*' ... '*/') within an assembly instruction"
Do not allow block comments to span multiple lines!

[2019-02-15 16:47] Dotneteer opened #117 "[Z80 Assembly feature] Allow additional characters in identifiers"
* Allow backtick ( __`__ ) as the first character in identifiers to sign a temporary labels.
* Allow __`@`__ as the first character to sign a module-local label (used in the future).
* Allow __`@`__, __`!`__, __`?`__, and __`#`__ in identifier continuation, as they do not confront with other tokens.

[2019-02-15 16:50] Dotneteer opened #118 "[Z80 Assembly feature] Add a new pragma, 'DEFC'/'DC' to set Bit 7 of the last byte of the argument string."
* __`.defc "ZX SPECTRUM"`__ should set Bit 7 of "M" when emitting code.

[2019-02-15 16:59] Dotneteer opened #119 "[Z80 Assembly feature] Allow temporary labels (starting with a backtick, ` )"
Temporary labels have a limited scope, only between persistent labels:

[code]

[2019-02-15 17:02] Dotneteer commented on #110
@zxlame, To implement this feature (similarly as __sjasm__ does), I need to refactor the Z80 assembler. I use this refactoring to add other cheap features, too, as you can check #114 to #119 (and others, as they will come). :-)

[2019-02-15 23:45] nww02 commented on #113
Hurrah! How strange that it only affected some extensions and not others!  I'll be able to get coding again in the morning!

Thank you, sir!

[2019-02-16 12:22] Dotneteer commented on #114
Implemented, will be released soon.

[2019-02-16 12:23] Dotneteer commented on #115
Implemented, will be released soon.

[2019-02-16 12:23] Dotneteer commented on #116
Implemented, will be released soon.

[2019-02-16 12:23] Dotneteer commented on #117
Implemented, will be released soon.

[2019-02-16 12:23] Dotneteer commented on #118
Implemented, will be released soon.

[2019-02-16 12:45] Dotneteer commented on #119
Implemented, will be released soon.

[2019-02-18 04:15] gusmanb opened #120 "[feature request] Allow export to Intel HEX file"
Hi. I'm writting some code which will be run from an external ROM and to burn it to the ROM I need the .hex file in intel format or similar. Would be great to have the option on the "export" menu to allow the use of the compiler for external hardware.

[2019-02-18 05:45] Dotneteer commented on #120
@gusmanb, please provide me a reference for intel .hex format &mdash; one that you find accurate and detailed enough. I'm happy to implement this feature.

[2019-02-18 12:33] gusmanb commented on #120
Hi. I always preferred the explanation on the ARM Keil site: http://www.keil.com/support/docs/1584/

Only thing to note, is that record type 05 is not standard, just ignore it and implement the 00 to 04 record types.

Also, this little extension may be of help in the development of this feature: https://marketplace.visualstudio.com/items?itemName=keroc.hex-fmt

Cheers.

[2019-02-18 13:27] Dotneteer commented on #120
@gusmanb, thanks for the help!

[2019-02-19 09:49] Dotneteer commented on #110
Released in v1.17.0

[2019-02-19 09:49] #110 closed

[2019-02-19 09:49] Dotneteer commented on #114
Released in v1.17.0

[2019-02-19 09:49] #114 closed

[2019-02-19 09:49] Dotneteer commented on #115
Released in v1.17.0

[2019-02-19 09:49] #115 closed

[2019-02-19 09:49] Dotneteer commented on #116
Released in v1.17.0

[2019-02-19 09:49] #116 closed

[2019-02-19 09:50] Dotneteer commented on #117
Released in v1.17.0

[2019-02-19 09:50] #117 closed

[2019-02-19 09:50] Dotneteer commented on #118
Released in v1.17.0

[2019-02-19 09:50] #118 closed

[2019-02-19 09:50] Dotneteer commented on #119
Released in v1.17.0

[2019-02-19 09:50] #119 closed

[2019-02-19 17:17] Dotneteer commented on #120
@gusmanb, I have some questions just to be sure that I understood your intention correctly.

So, right now the Export Z80 Program dialog provides many options:

![export_to_hex](https://user-images.githubusercontent.com/4783390/53033384-39f7ca00-3471-11e9-8e3d-9756d5e40791.png)

I guess, you would like to have a third tape file format, namely HEX (or Intel HEX). With this format, you only need a f

[2019-02-20 00:08] gusmanb commented on #120
Hi. Yes, you got everything right :)

This option is useful for three things:

1-Create a custom ROM for the speccy.

As you would be able to create a program at 0x0000 and export it in a
format that will be understandable by eprom/prom/rom/flash burners it
allows you to create a custom rom. As this rom will be of a maximum of 16Kb
this will work without the 02 and 04 record types.

2-Create the "

[2019-02-20 19:15] gusmanb commented on #120
Here is an image explaining the usage of the offset.
![imagen](https://user-images.githubusercontent.com/4086913/53117862-24a39e00-354c-11e9-8109-30c11ea89f28.png)

[2019-02-20 19:19] gusmanb opened #121 "String functions using memory addresses?"
To define strings in my program i'm using something like this:

	.ORG #C300

	test_string:
		.defn "Hola pepito!!"
	test_string_2:
		.defn "Una prueba"
	test_string_3:
		.defn "ABCDE?"

The thing is now I don't know how to use string functions like "len" or "lowercase" with this, I've tried "len(test_string)" but it fails. Is it possible to do?

[2019-02-21 06:17] Dotneteer commented on #121
@gusmanb, when designing the Z80 Assembler, I was thinking about using labels as addresses for my strings. _The built-in functions run at compile time_, and I did not find a language construct that were convenient during compilation. So, I decided to introduce string constants with `.equ`, and `.var`. This way, you can use strings and string functions, like this:

[code]

If you can suggest a cons

[2019-02-21 06:21] Dotneteer opened #122 "Move Tool window command documentation to SpectNetIDE GitHub pages"

[2019-02-21 06:33] Dotneteer commented on #120
@gusmanb, Here I send you a private build (v1.17.1) that implements the Intel HEX export. This is a beta, you can test it.

I added a new pragma, `.hdisp` to set up the _Intel HEX displacement_ for your code. So, provided your code start at adress #C300, but you want it to be exported for an external ROM with #0000 start, you should write this:

[code]
Should you had any issue, please zip the proj

[2019-02-21 06:56] Dotneteer opened #123 "Add the new identifier naming conventions to the command parser"
In version v1.17.0, identifiers can have additional characters. Introduce these changes to the command parser so that you can use the extended identifier naming there, too.

[2019-02-21 07:32] Dotneteer opened #124 "Allow a new Z80 Disassembly tool window command for disassembly to .DEFG pragma"
* Use the `MG` memory section command similarly to `MB` and `MW`.
* `MG` displays a single byte, but allow `MG2` for two bytes, `MG3` for three, and `MG4` for for bytes.

[2019-02-21 07:33] Dotneteer opened #125 "Document the "retrieve annotations" commands."

[2019-02-21 09:49] gusmanb commented on #121
Hi.

Ok, I think I understood how to use it.

.ORG #C300

	test_string:
		.equ "Hola pepito!!\0"
	test_string_2:
		.equ "Una prueba\0"
	test_string_3:
		.equ "ABCDE?\0"

	test_string_addr:
		.defn test_string
	test_string_2_addr:
		.defn test_string_2
	test_string_3_addr:
		.defn test_string_3

In this way we can use `test_string` for the string functions and `test_string_addr` for the pointer. Is

[2019-02-21 11:02] gusmanb commented on #120
Hi.

I've been testing the export, it seems to work ok but I think that some minor changes would make it better.

First, when I thought about the export I thought about a single offset for all the file but as I have verified an offset must be added each time a .org is in the code or it will be exported on the .org address. This is ok, in fact it's better as in this way a more complex address virtu

[2019-02-21 16:17] Dotneteer commented on #120
@gusman, your feedback seems reasonable :-). I will omit the `.hdisp` pragma, and introduce `.xorg` with the semantics you suggest, and will change the record size to 16 bytes. I'll have a busy weekend, so you can expect me to deliver the modification only the beginning of the next week!

[2019-02-21 16:19] Dotneteer commented on #121
Yes, absolutely. One little thing: the `.defn` pragma automatically adds a `\0` terminator to the string, however, `.defm` does not.

[2019-02-23 06:22] Dotneteer commented on #120
@gusman, here is the next private build, according to your suggestions :-)

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/2896545/Spect.Net.VsPackage.zip)

[2019-02-23 12:25] Dotneteer commented on #125
Fixed, will be released soon.

[2019-02-23 13:10] Dotneteer commented on #122
Fixed, will be released soon.

[2019-02-23 13:19] Dotneteer commented on #123
Fixed, will be released soon.

[2019-02-23 13:19] #121 closed

[2019-02-23 14:48] Dotneteer commented on #124
Implemented, will be released soon.

[2019-02-26 08:54] gusmanb commented on #121
Hi.

Ok, perfect, I got it.

Thanks a lot for your help :)

[2019-02-26 09:05] gusmanb commented on #120
Hi.

Sorry for the delay, I'm sick and some days mi head doesn't wants to think at all...

I've checked the changes and everything works perfect, now the semantics make sense, the file is perfectly human-readable, the programming software where I test the files "eats" it without any complain and dumping a flashed E2PROM gives a binary with the exact content, I think this can be considered producti

[2019-02-26 09:09] Dotneteer commented on #120
Implemented, will be released soon.

[2019-02-28 07:28] Dotneteer commented on #111
@zxlame, the feature is implemented, released in v1.18.0
You can read more details here: https://dotneteer.github.io/spectnetide/documents/structs#article
If you like my efforts, please star the project in GitHub, or create a review here: https://marketplace.visualstudio.com/items?itemName=Dotneteer.SpectNetIde

[2019-02-28 07:28] #111 closed

[2019-02-28 07:29] Dotneteer commented on #120
Released in v1.18.0.

[2019-02-28 07:29] #120 closed

[2019-02-28 07:29] Dotneteer commented on #122
Released in v1.18.0.

[2019-02-28 07:29] #122 closed

[2019-02-28 07:29] Dotneteer commented on #123
Released in v1.18.0.

[2019-02-28 07:29] #123 closed

[2019-02-28 07:29] Dotneteer commented on #124
Released in v1.18.0.

[2019-02-28 07:29] #124 closed

[2019-02-28 07:29] Dotneteer commented on #125
Released in v1.18.0.

[2019-02-28 07:29] #125 closed

[2019-02-28 07:35] zxlame commented on #111
Superb

[2019-03-03 11:00] Dotneteer commented on #112
Implemented, released in 1.18.1.
See more details here: https://dotneteer.github.io/spectnetide/documents/statements#the-ifusedifnused-statements

[2019-03-03 11:00] #112 closed

[2019-03-06 07:00] Dotneteer opened #127 "Remove unused reference information from source code"
Remove the `Reference` and `TBBlue` folders from the root of the source code.

[2019-03-06 07:02] Dotneteer opened #128 "Move the ZX Spectrum BASIC reference documentation to the new GitHub pages site"
Move the content of the `Documentation/References/Spectrum48Basic` forlder and merge it with the new SpectNetIDE documentation.

[2019-03-06 07:05] Dotneteer opened #129 "Merge the Scripting documentation with the new SpectNetIDE documentation"
Merge the `Documentation/Scripting` folder with the new SpectNetIDE documentation

[2019-03-06 07:08] Dotneteer opened #130 "Allow SpectNetIDE to run in Visual Studio 2019 Preview"
- Change the VSIX manifest files to allow VS 2019 Community, Pro, and Enterprise as targets
- Re-target assemblies to .NET Framework 4.7.2 to allow easier migration to VS 2019 in the future

[2019-03-06 07:11] Dotneteer opened #131 "Merge UnitTest language material with the new SpectNetIDE documentation"
Merge the contents of `Documentation/UnitTests` with the new SpectNetIDE documents

[2019-03-06 07:15] Dotneteer opened #132 "Remove or archive the remaining contents of Documents"
Remove/delete/archive the remaining contents of `Documents` so that this folder can be removed.

[2019-03-06 07:17] Dotneteer opened #133 "Put the Spect.Net.CommandParser.Test project into its proper location"
Move this project from the root folder to `Tests`.

[2019-03-06 07:18] Dotneteer opened #134 "Remove the old documents folder."

[2019-03-06 07:25] Dotneteer opened #136 "Create and archive where old VSIX versions are available"
Some developers may opt to use older versions. Create a repository for older (last five from now) releases and provide a documentation link for the archive folder.

[2019-03-06 07:27] Dotneteer opened #137 "Change README to point to the new documentation hub"
Review and change the README file to point to the new documentation hub. Whenever it's possible, provide links to the new docs.

[2019-03-06 13:24] Dotneteer commented on #130
Implemented, will be released soon.

[2019-03-06 13:28] #127 closed

[2019-03-06 13:39] #133 closed

[2019-03-07 06:58] #129 closed

[2019-03-07 07:13] #131 closed

[2019-03-08 15:34] #128 closed

[2019-03-08 15:38] #132 closed

[2019-03-08 15:38] #134 closed

[2019-03-08 15:54] #137 closed

[2019-03-08 16:46] #136 closed

[2019-03-08 16:46] Dotneteer commented on #130
Released in 1.18.2

[2019-03-08 16:46] #130 closed

[2019-03-10 08:33] Dotneteer opened #138 "Add feature to export Z80 disassembly into a .z80asm file"
- use the __`XD`__ [_`literal`_ __`,`__ _`literal`_]  command to execute the export
- provide a dialog with the following options:
  - start address
  - end address
  - filename (name of file to export)
  - hanging labels (checkbox to indicate that labels should be put on separate lines
  - indent (2, 4, 8): indentation, number of spaces before instructions
  - comment style: "`;`" or "`//`"
  - m

[2019-03-12 18:15] Dotneteer commented on #138
Released in 1.18.3

[2019-03-12 18:15] #138 closed

[2019-03-14 08:33] Dotneteer opened #139 "Tape explorer displays program name that misses the last 2 characters"
Here, the file name should be "64colour"

![devenv_2019-03-14_09-21-42](https://user-images.githubusercontent.com/4783390/54341906-656a7080-463b-11e9-9f12-24f130f2c7d6.png)

This issue can be reproduces with any .TAP or .TZX file that has a program name longer than 8 characters.

[2019-03-14 08:40] Dotneteer commented on #139
Fixed, will be released soon.

[2019-03-15 10:06] Dotneteer opened #140 "The character literal does not apply syntax highlighting in the code editor"
See this example:

![devenv_2019-03-15_11-03-11](https://user-images.githubusercontent.com/4783390/54424061-602c2500-4712-11e9-9e8c-be5031a01f42.png)

[2019-03-19 12:04] Dotneteer opened #141 "Implement a command to export ZX Spectrum memory contents into a raw binary file."
- Command format: __`XM`__ _`literal`_ _`literal`_

[2019-03-19 18:48] Dotneteer commented on #141
Implemented, will be released soon.

[2019-03-19 19:00] Dotneteer opened #142 "Implement a pragma to compare the assembly output with the content of a binary file"
Compares the output of the _current segment_ with the file contents.
- Command format: __`.comparebin`__ _`expr`_  [ __`,`__ _`expr`_  [ _`,`_ _`expr`_ ] ]
- The first expression defines the file name
- The second expression provides a start offset within the file for comparison. If omitted, 0 is the default.
- The third expression specifies the number of bytes to compare. If omitted, the lenght o

[2019-03-20 22:43] Dotneteer commented on #142
Released in 1.18.4

[2019-03-20 22:43] #142 closed

[2019-03-20 22:43] Dotneteer commented on #141
Released in 1.18.4

[2019-03-20 22:43] #141 closed

[2019-03-20 22:43] Dotneteer commented on #140
Released in 1.18.4

[2019-03-20 22:43] #140 closed

[2019-03-20 22:44] Dotneteer commented on #139
Released in 1.18.4

[2019-03-20 22:44] #139 closed

[2019-05-09 23:01] nww02 opened #143 "relative jump offsets do not accept decimal values"
I get:

"Error Z0022: Relative jump distance should be between -128 and 127. [xxxxxx] is invalid"
where [xxxxxx] is a strange number that doesn't seem to be related to the number passed in.
when attempting to do a relative djnz or jr as:

djnz 1
or (for example)
jr  nc,1

I cannot seem to use hex values for these with "#" or "h".
Attempting to prepend with a "$" kind-of works, but only if you also

[2019-05-11 05:48] Dotneteer commented on #143
@nww02, the `djnz` and `jr` instructions work this way by design. The value you specify is considered as the absolute target address and the compiler calculates the length of the relative jump. When it does not fit the -127...128 range, it gives you an error message. The strange number is the distance of the current and the target addresses.

The only way (also by design) is the specify the target

[2019-05-11 18:28] nww02 commented on #143
I've been looking into it since last night... I think I understand it better now... I'm used to the relative jumps on other compilers.  As the jr uses a relative offset, I expected that "$-x" would be an absolute address (since $ is 'here'), so was expecting "jr -1" to be the syntax.

I didn't realise the compiler was doing clever stuff in the background :).  Also, I was bamboozled by the way that

[2019-05-11 18:28] #143 closed

[2019-05-15 17:52] QwazyWabbitWOS opened #144 "Add optional assembler listing output file"
With an integrated assembler and disassembler within the SpectNetIDE, one may not need or miss a listing file. Old school method was a two-pass assembler that produced binary file, either BIN format or Intel HEX format for loading into ROM/RAM on hardware. List files with a cross-reference were very typical for verifying assembler output.

New feature proposal is for optional .lst or .list output

[2019-05-16 05:07] Dotneteer commented on #144
@QwazyWabbitWOS, thanks for the feature suggestion :-). Right now the assembler is activated with a context menu command from Solution Explorer, so it does not allow any way to specify arguments. I'd add a switch to create list file to the Tools | Options dialog that would also let you set the file extension. Do you have any other idea or mind in your head?

[2019-05-16 07:17] QwazyWabbitWOS commented on #144
You're welcome. This is an amazing project. Putting the control of file output in Tools | Options seems perfectly reasonable to me and is in line with Microsoft's usability recommendations. I've seen .lis, .lst, .list as file extensions but I see no reason to restrict it to ancient 8.3 conventions. Making it user configurable with a .list default would be the way I would probably implement it. I'd

[2019-05-18 13:13] Dotneteer commented on #144
@QwazyWabbitWOS, in many cases, the output is a result of compiling multiple files (e.g. the main file loads include files). How would you show in the output the individual files so that you know that a particular output comes from a specific source file?

[2019-05-18 21:12] QwazyWabbitWOS commented on #144
There are almost as many answers to that question as there are assemblers. :)
A simple two-pass assembler often can only accept one source file at a time and generates a list file for it. CP/M's ASM, MAC and Z80ASM were such as these. There were very primitive and often didn't accept file extensions. I don't remember ever invoking them on multi-file source. I'd have to re-read the documentation.

[2019-05-19 05:08] Dotneteer commented on #144
@QwazyWabbitWOS, I'm aware of these facts about compilers, and this is why I asked you the question :-). A have a few contacts within the Z80 programming community, and most of them apply two very different techniques: some use single (long) file, others break down the code to small files.
The current compiler in SpectNetIDE is a simple preprocessor with a semi-one-pass compiler using fixup to res

[2019-05-19 08:08] Dotneteer commented on #144
@QwazyWabbitWOS, I've completed the version specified above. I'd be happy to send you a private build for beta testing. Please, contact me directly at dotneteer@hotmail.com!

You can read the first version of documentation here: https://dotneteer.github.io/spectnetide/documents/assembler-output

[2019-05-19 14:50] QwazyWabbitWOS commented on #144
I don't have a problem with single list file output since that is the structure of your disassembler anyway so expectations would be for consistency. A build process driven by make file is often monolithic output even when it's an assemblage of modules. A list file gets include files for free since they become part of the input stream. I envisioned a list file to be very similar to your disassembl

[2019-05-27 06:54] Dotneteer commented on #144
Implemented, released in v1.19.0

[2019-05-27 06:54] #144 closed

[2019-05-29 13:52] polevi opened #145 "Visual studio 2019 exception"
Typing .defb 0b causes Visual Studio 2019 16.1.1 to throw an System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.

[ActivityLog.xml.txt](https://github.com/Dotneteer/spectnetide/files/3232808/ActivityLog.xml.txt)

[2019-05-29 17:05] Dotneteer commented on #145
@polevi, thanks for reporting this bug, I reproduced it both with VS 2019 and VS 2017. I will release a patch soon.

[2019-05-30 05:27] Dotneteer commented on #145
Fixed and released (v1.19.1)

[2019-05-30 05:27] #145 closed

[2019-06-08 14:00] Ultrahead opened #146 "ZX Basic"
Hi, does Spectnetide support Boriel's ZX Basic? (http://boriel.com/wiki/en/index.php/ZXBasic/)

[2019-06-09 05:08] Dotneteer commented on #146
Hi, @Ultrahead, SpectNetIDE does not support Boriel's ZX Basic.

[2019-06-09 15:45] Ultrahead commented on #146
Hi, thanks for replying. Any plans to support it?

Also, I have installed the addon in the latest versión of VS 2019 and when the latter starts it says that the addon was not properly started.

________________________________
De: Istvan Novak <notifications@github.com>
Enviado: Sunday, June 9, 2019 2:08:36 AM
Para: Dotneteer/spectnetide
Cc: Pedro Güida; Mention
Asunto: Re: [Dotneteer/spectnetide]

[2019-06-09 16:55] timsneath opened #147 "Custom Project System missing"
I performed a clean installation of Visual Studio 2019 (Community, v16.1.2) with no workloads installed. I then installed the SpectNet extension from the Extensions / Manage Extensions menu.

On reloading Visual Studio, I got the following error message:

[code]

Inspecting `ActivityLog.xml` for items with a status of `Error`, we find this:
[code]

I've tried installing the .NET desktop and extens

[2019-06-09 19:09] Dotneteer commented on #146
Hi, Pedro,

I have not planned to support Boriel's Basic. If I have enough request from the community, perhaps I will think about it :-).

You can find a file named `ActivityLog.xml` file within your user folder, under `AppData\Roaming\Microsoft\VisualStudio\16.0_*` (where `*` is a hexadecimal string). Next time you experience the issue with VS 2019, send me `ActivityLog.xml` (you can contact me d

[2019-06-09 19:09] #146 closed

[2019-06-09 19:12] Dotneteer commented on #147
Tim, thanks for contacting me about this issue. I have not checked SpectNetIDE with VS 2019 16.1.2, but now -- according to your report --, I will. Could you send me the version of SpectNetIDE you try to use with VS 2019?

Istvan

[2019-06-09 19:35] Dotneteer commented on #147
Tim, I managed to reproduce the issue. This issue occurs only if you remove SpectNetIDE and delete the `CustomProjectSystems` folder from use user profile directory -- and this is what a new install of VS 2019 does. The SpectNetIDE extension tries to create the `CustomProjectSystems` folder, but for some VS IDE related issue, it cannot do that.
Tomorrow I will examine the issue and release a patch

[2019-06-10 05:27] Dotneteer commented on #147
Tim, I managed to find and fix the issue you reported. The cause of the phenomenon was due to changes in VS project system resource handling. Now, the freshly released SpectNetIDE v1.19.2 will solve it.

Istvan

[2019-06-10 16:16] timsneath commented on #147
Wow -- that was crazy fast! You fixed it before I'd even gotten back to my computer... Love that ZX Spectrum software is supported better than most modern software :)

Thank you very much: what a labor of love. Will try this out this evening.

[2019-06-10 18:08] Dotneteer commented on #147
Tim, just let me know if you have any issues with the patch, or with SpectNetIDE. If your test show that now the package loads in VS 2019, please close this issue :-).

[2019-06-11 02:55] timsneath commented on #147
Good news, bad news... :)

So, I uninstalled VS2019 altogether, installed a fresh instance with just the core workload installed, and then installed 1.19.2 of SpectNetIDE. I got another extension load error, but the `ActivityLog.xml` entry this time gives a different warning:

[code]

This implies a missing dependency. So I added back the .NET desktop workload to my VS2019 instance, and then resta

[2019-06-11 04:50] Dotneteer commented on #147
Tim, thanks for your help with the workload dependencies! I will experimenting them and find a decent solution :-).

[2019-06-11 04:50] #147 closed

[2019-06-13 00:06] Ultrahead commented on #146
Message sent to your email with the log file (entitled "Regarding issue 146"). Please let me know whether you received it.

Hope you think about implementing it since it is a very popular solution with advance features and unfortunately the available plugins are for Visual Studio Code and only support highlighting.

[2019-06-13 04:33] Dotneteer commented on #146
Hi Pedro,

Someone had already reported this issue just a few days before you sent me the ActivityLog.xml file. I fixed the issue, released the patch (SpectNetIDE v1.19.2), so it is now available in Visual Studio Marketplace. If you're IDE is set for automatic updates, probably SpectNetIDE has already been updated.

I will make some experiments with Boriel's Basic -- as I do not know it --, so tha

[2019-06-13 07:02] Ultrahead commented on #146
It works now. Thanks.

Great to know!

[2019-06-13 07:05] Dotneteer commented on #146
Pedro, If you can help me with anything related to Boriel's Basic, I'd be happy to implement it :-). If you can send me useful links (to my email) to understand why Boriel's Basic is popular, how the community uses it, it would help me a lot!

[2019-06-13 07:45] Ultrahead commented on #146
Sure. I will prepare a list of links and send it to you.

Also, I will report later a few issues I'm experiencing (for instance, I can only run the default sample assembly file with discovery projects on 48K). I will try to reinstall the addon and see if that works.

[2019-06-13 08:25] Ultrahead commented on #146
Message sent. Please let me know whether you receive it fine. Regards!

[2019-06-13 09:07] Ultrahead opened #148 "Cannot run nor debug code for other architectures than 48k"
SpectNetIde: 1.19.2
Visual Studio: 16.1.3

The addon is only working for any of the 48K projects. It does not work for other target platforms.

After creating discovery solutions and projects for 128, +2 and +3, and attempted to debug or run the sample assembly code that is included by default on new projects, the emulators are initialized but the code produces a black screen for a second and rese

[2019-06-13 09:14] Ultrahead opened #149 "Emulator screen not properly updated when debugging"
SpectNetIde: 1.19.2
Visual Studio: 16.1.3

The screen does not properly update when debugging as can be seen in the following screenshot:

![image](https://user-images.githubusercontent.com/12087040/59419778-f7505980-8da1-11e9-83c3-3ddc6864e0a1.png)

That is for a 48k project and it remains the same throughout the whole loop until you reach the end of it (then, the message is properly displayed).

[2019-06-13 12:30] Dotneteer commented on #149
@Ultrahead, You mention two issue in this ticket. The second one (you remove the breakpoint, but the code execution still stops) is a bug, and I will fix it soon.

Nonetheless, the first phenomenon is normal :-). Here is a short explanation:

When you pause the code, not only the CPU but the ULA is paused in the virtual machine, and the display shows the current screen frame being rendered. If you

[2019-06-13 12:41] Dotneteer commented on #148
@Ultrahead, thank you for reporting this bug. I will fix it and release the patch soon.

The reason it produces the phenomenon you describe is that the demo code I deploy with a new ZX Spectrum project works only in ZX Spectrum 48K mode. Even if you use the 128K, or +3E model, you can run the code in 48K mode with the help of the `.model` directive. So, the code I deploy should start like this:

[

[2019-06-13 13:13] Dotneteer commented on #149
Fixed. Released in v1.19.3.

[2019-06-13 13:13] #149 closed

[2019-06-13 13:13] Dotneteer commented on #148
Fixed. Released in v1.19.3.

[2019-06-13 13:13] #148 closed

[2019-06-14 01:50] Ultrahead commented on #148
Hi, good to know. Thanks.

Any chance that when a program that is being debugged ends, when you press the F5 button (or press the debug icon) it runs the same program again in debug mode?

________________________________
De: Istvan Novak <notifications@github.com>
Enviado: Thursday, June 13, 2019 10:13:31 AM
Para: Dotneteer/spectnetide
Cc: Pedro Güida; Mention
Asunto: Re: [Dotneteer/spectnetide]

[2019-06-14 01:54] Ultrahead commented on #149
Hi, thanks for the explanation. And yes, it is clear enough.

Is there any chance that in debug mode, when a breakpoint gets, the virtual electron beam gets paused after a period of time? To give enough time for a screen refresh. That would be very handy as a complement for the step-into command.

________________________________
De: Istvan Novak <notifications@github.com>
Enviado: Thursday, June

[2019-06-14 02:11] Ultrahead commented on #96
I was just about to post this bug. Even if you cannot set a start-up project, would it possible that when you want to debug a project for a different target, the emulator gets stopped and replaced with the correct one (so that the run command of debug starts the latter, injects the code and debugs it?)

[2019-06-14 04:37] Dotneteer commented on #149
Pedro, It is not very clear what would you like to achieve with "the virtual electron beam gets paused after a period of time". Probably, you think that it would be great to see what is on the screen, even it is not entirely rendered?

[2019-06-14 04:43] Dotneteer commented on #96
@Ultrahead, the current obsolete project system in SpectNetIDE is a big technical debt. I need to change it fundamentally so that I can easily manage multiple projects (and even project loading events). Because there are no useful documentation available, I need to do a lot of experiments with VS IDE.
Nonetheless, I plan a totally different and more flexible project system for SpectNetIDE v2, whic

[2019-06-14 04:52] Dotneteer commented on #148
@Ultrahead, you cannot use F5 key for this purpose, but there's another simple solution:
1. In Solution Explorer, right-click your main code file (for example, Code.z80asm), and invoke the __Set as default code file__ command.
2. You can use the Ctlr+M, R shortcut key combination to start debugging the code from its entry point.

[2019-06-14 10:15] Ultrahead commented on #149
Yes, that is what I tried to mean.

On Jun 14, 2019 1:37 AM, Istvan Novak <notifications@github.com> wrote:

Pedro, It is not very clear what would you like to achieve with "the virtual electron beam gets paused after a period of time". Probably, you think that it would be great to see what is on the screen, even it is not entirely rendered?

—
You are receiving this because you were mentioned.
Re

[2019-06-14 10:16] Ultrahead commented on #148
Got it. Thanks

On Jun 14, 2019 1:52 AM, Istvan Novak <notifications@github.com> wrote:

@Ultrahead<https://github.com/Ultrahead>, you cannot use F5 key for this purpose, but there's another simple solution:

  1.  In Solution Explorer, right-click your main code file (for example, Code.z80asm), and invoke the Set as default code file command.
  2.  You can use the Ctlr+M, R shortcut key combinati

[2019-06-14 11:26] Dotneteer opened #150 "Allow a special screen rendering mode when debugging is paused."
Right now, when the emulator is paused in debug mode, not only the CPU, but also the ULA is paused. Thus the screen shows its partially rendered state.

Provide a mode that allows to show what the user would look if only the CPU was paused but the ULA were still running, as it would help debugging.

[2019-06-14 11:27] Dotneteer commented on #149
Pedro, I opened a new issue, #150 to handle your request. If you have any comments or suggestion related to the screen rendering topic, please add them to the new issue.

[2019-06-14 23:40] Ultrahead commented on #149
Great! Thanks!

[2019-06-15 18:23] Ultrahead opened #151 "Including Binary Files"
Is it possible to include a binary file? For example,

MYSPRITE:
#include "mySprite.bin"

... where the file contains something like this:

![image](https://user-images.githubusercontent.com/12087040/59554923-1f49e380-8f81-11e9-8cc4-0b2268bfa617.png)

... representing a sprite?

If not, would it be possible to add it? (either with include reserved word or a new one "includebin"?)

[2019-06-16 09:46] Dotneteer commented on #151
@Ultrahead,

Yes, it's possible :-) SpectNetIDE support `.includebin`: https://dotneteer.github.io/spectnetide/documents/pragmas#the-includebin-pragma

[2019-06-16 09:46] #151 closed

[2019-06-18 01:10] Ultrahead commented on #151
Good to know, thanks!

To end a macro, can you always use .endm? Or are there specific end macro statements for certain macros?

________________________________
De: Istvan Novak <notifications@github.com>
Enviado: Sunday, June 16, 2019 6:46:46 AM
Para: Dotneteer/spectnetide
Cc: Pedro Güida; Mention
Asunto: Re: [Dotneteer/spectnetide] Including Binary Files (#151)

@Ultrahead<https://github.com/Ul

[2019-06-18 04:44] Dotneteer commented on #151
@Ultrahead, I guess, you can find answers for most of your questions in regard to SpectNetIDE Z80 assembler in the documentation section, here: https://dotneteer.github.io/spectnetide/documents/main-features.html.

Read not only the Macros section, but the others, and then you will understand the approach the Assember uses.

[2019-07-02 16:42] Dotneteer commented on #150
Will be implemented in v2.0

[2019-07-10 19:43] igoninru opened #152 "When I call the PRINT_FP (11747) emulator hangs in an infinite loop."
When I call the PRINT_FP procedure (11747) to display the number on the screen, my emulator hangs in an infinite loop. If you export this code to TAP, and then run it on an external emulator, such as Spectaculator or UnrealSpeccy, then this code will work as expected and will print 12345 on the screen.

[code]

[2019-07-11 04:29] Dotneteer commented on #152
@igoninru, thanks for signing this issue! I will investigate it and fix it.

[2019-07-11 16:14] Dotneteer commented on #152
@igoninru,  I have found the cause of this faulty behavior, now I'm working on fix it.

[2019-07-11 18:21] igoninru commented on #152
@Dotneteer Thank you!

[2019-07-12 04:41] Dotneteer commented on #152
@igoninru, the issue is fixed and released (v1.19.4)

**_I've just recognized that you gave this project the 100th star!!! Thank you for your support!_**

**There's a folder named `.SpectNetIde` within your ZX Spectrum project folder. Erase this folder with its contents, as it may store the startup state of your virtual machine, The new 1.19.4 version will automatically re-create this folder when

[2019-07-12 04:41] #152 closed

[2019-07-12 18:56] igoninru commented on #152
@Dotneteer Excellent! Thank you very much for the prompt correction of this error!

[2019-08-06 08:20] imp5imp5 opened #154 "Wrong code generation for IX, IY bit instructions"
For example: "set 6,(ix+1)" compiled to DD CB **F6 01** instead of DD CB **01 F6**

[2019-08-06 18:26] Dotneteer commented on #154
@imp5imp5, thanks for your bug report! I will check this and issue a fix as soon as possible.
Istvan

[2019-08-07 08:53] Dotneteer commented on #154
@imp5imp5, the bug fix is ready. Update the SpectNetIde extension (v1.19.5) in Visual Studio  to use it!

Please, do not hesitate, if you find a bug, contact me :-).

If you like this IDE, please star it on GitHub!

[2019-08-07 08:53] #154 closed

[2019-08-07 08:53] Dotneteer commented on #150
Already implemented in v2.0 -- nonetheless, v2.0 has not been released yet...

[2019-08-07 11:04] imp5imp5 commented on #154
Thank you!

[2019-08-16 05:46] imp5imp5 opened #155 "Incorrect value in port 0x1F (Kempston joystick)"
255 is always read from this port, which corresponds to all simultaneously pressed buttons.
(Expected '0')

[2019-08-16 16:47] Dotneteer commented on #155
Hi @imp5imp5, SpectNetIDE does not support Kempston joystick yet. I have this feature in the bottom of my backlog for a long time. Now, I pull it to the top :-), and will implement it soon.

[2019-08-17 14:54] Dotneteer commented on #155
@imp5imp5, I've implemented Kempston joystick emulation in v1.20.0. To sign that a Kempston joystick is present, use this option to tunr on/off emulation. When turned off, you can select a combination of ZX Spectrum keys to emulate the direction and fire of Kempston joystick:

![image](https://user-images.githubusercontent.com/4783390/63213677-7732d100-c10f-11e9-961f-52042b74a535.png)

I plan to p

[2019-08-17 14:54] #155 closed

[2019-08-18 07:53] imp5imp5 commented on #155
Thank you! It works now.

[2019-09-13 12:56] Ultrahead commented on #150
Hi, ETA for v2.0?

[2019-09-13 13:09] Dotneteer commented on #150
Hi, Pedro. I've already implemented this feature in v2.0 :-). I plan to release 2.0 in the middle of November.

[2019-09-13 19:53] Ultrahead commented on #150
Great!

Any news about Boriels's Basic support?

On Sep 13, 2019 10:10 AM, Istvan Novak <notifications@github.com> wrote:

Hi, Pedro. I've already implemented this feature in v2.0 :-). I plan to release 2.0 in the middle of November.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/Dotneteer/spectnetide/issues/150?email_source=noti

[2019-09-14 05:29] Dotneteer commented on #150
Boriel's Basic support is a part of v2.0. You can use Basic files for developing ZX Spectrum apps just like Z80 Assembly. I'm not sure that I'll be ready with all important aspects of Boriel's Basic support by the middle of November, as I have some serious issues with it. Nonetheless, I designed the project system with it in mind.

[2019-09-14 14:55] Ultrahead commented on #150
Good to know. Thanks!

[2019-09-14 15:53] Ultrahead commented on #150
Btw, maybe this link helps:

https://github.com/boriel/zxbasic

[2019-09-28 15:36] boriel commented on #150
I'm @boriel. I'll be glad to help in integrating Boriel ZX Basic :)

[2019-09-28 15:45] Dotneteer commented on #150
@boriel, having you here is a great news!

My progress with SpectNetIDE v2.0 is faster than I originally planned. Next week I intend to complete source code debugging (Z80 assembly), and from October 14 I will work on ZX Basic. Right now, I plan to integrate ZX Basic so that it will compile the code to Z80 Assembly, and then -- using the existing infrastructure -- from Z80 Assembly to binary code.

[2019-09-28 18:35] Ultrahead commented on #150
@Dotneteer: you're welcome! ;)

[2019-09-30 14:42] Dotneteer commented on #150
@boriel, please contant me at dotneteer@hotmail.com. I have a number of question that I would like to handle with you offsite.
Thanks in advance,
Istvan

[2019-10-01 21:26] garethadams opened #156 "Exception starting emulator"
I'm running Visual Studio 2019 16.3.1. I've installed SpectNetIDE and created a ZX Spectrum Code Discovery Project.

The ZX Spectrum IDE menu appears under Extensions rather than as a top level menu which is contrary to the documentation.

When I select ZX Spectrum Emulator I get the following error:

"Exception has been thrown by a target of an invocation"

[2019-10-02 05:25] Dotneteer commented on #156
@garethadams, thanks for signing me this issue!

Though in the VS 2017 version, SpectNetIDE has a top-level ZX Spectrum IDE menu, it is not possible in VS 2019, as the IDE automatically moves top-level menus under Extensions.

_The bad news:_

By my experience the "Exception has been thrown by a target of an invocation" message appears when you cold-start VS 2019 and select an existing solution. T

[2019-10-02 05:47] garethadams commented on #156
@Dotneteer - thanks for the quick reply. You're right, closing the solution and re-opening worked.

Look forward to v2

Cheers

[2019-10-02 05:47] #156 closed

[2019-10-28 13:18] #150 closed

[2019-10-28 13:29] Dotneteer commented on #146
The first version of ZX BASIC integration now works in v2.0 (not released yet) :-)
- syntax highlighting
- code compilation
- Run program

Source code debugging is not available yet.

[2019-11-05 04:55] Dotneteer opened #157 "BUG: ZXB.EXE not found"
According to the feedback left on the Visual Studio Marketplace:

"There is an error, when generating a project the ZXbasicfile folder is not included and if it is included later when trying to complete the .zxbas file, the compiler gives an error when searching for ZXB.EXE"

[2019-11-07 09:33] Dotneteer commented on #157
To allow using ZX BASIC with SpectNetIDE, first you have to install it. I added the setup instructions to the documentation that is available here:

https://dotneteer.github.io/spectnetide/getting-started/setup-zx-basic

With the help of the documentation, you can set up the integration.

Should you missed something with the setup, the error message would point out  to the link above, and automati

[2019-11-07 10:16] Dotneteer commented on #157
Fix released in v2.0.2

[2019-11-07 10:16] #157 closed

[2019-11-10 13:53] Ultrahead opened #158 "[v2p1] Cannot set .z80asm as default one"
In version 2 preview one, when you handle multiple projects in one solution, once you pick a default .z80asm file, you cannot set the default file with another .z80asm file in a different project.

(btw, congrats for you release)

[2019-11-10 14:00] Ultrahead opened #159 "[v2p1] Missing Tags When Creating Projects"
In VS 2019 (and I guess in VS 2017, too) you can associate tags to project templates so as to rapidly get to project types for Languages, Platforms and Project Types. For example, C++ Windows Games.

It would be great to have this tags for ZX projects (at least, the Games one). I don't know if you can create new tags or have to use the buil-in ones, but if yo can, you could get creative and have s

[2019-11-10 14:05] Ultrahead opened #160 "[v2p1] No Boriel ZX Basic Example Integration"
It would be handy if you include in your site an integration sample with Boriel's ZX Basic. So as to catch the attention or both, newcomers and experience devs.

[2019-11-10 17:45] Dotneteer commented on #160
You're right, @Ultrahead :-). Originally I planned the first review in Mid-November but eventually released it earlier. If you can share a bit more details with me about what you think, it would be a great help.

This is what I have in the documentation right now:
https://dotneteer.github.io/spectnetide/getting-started/setup-zx-basic
https://dotneteer.github.io/spectnetide/getting-started/use-zx-b

[2019-11-10 17:46] Dotneteer commented on #159
Great suggestion! In a few days, You'll have it :-)

[2019-11-10 17:47] Dotneteer commented on #158
Thanks for reporting, tomorrow I will check it!

[2019-11-10 21:02] Ultrahead commented on #160
Thanks for asking my thoughts. I have read the sections.

My comments for section 1: "Setup ZX Basic"

1) You are right, many links takes you nowhere but the wiki is now on: https://zxbasic.readthedocs.io/
2) Instead of mentioning Win32 it would be better to tell the user that the Win32 files usually follow this naming structure: zxbasic-x.x.x-win32.zip. Also, for those who prefer the global versi

[2019-11-10 21:22] Ultrahead commented on #160
Sorry, I had installed v1.2. You should add in Readme where to find the installer for the v2 preview.

[2019-11-10 21:32] Ultrahead commented on #158
The problem is that if, for example, you add a +3 project, and then try to run the asm file that comes with it by default, nothing happens beyond loading the initial menu of the OS

[2019-11-10 23:00] Ultrahead opened #161 "[v2p1] Compilation error of .zxbas file"
Compiling examples found in Boriel's ZX Basic folder results in errors:

[code]

f is already defined in .zxasm

[2019-11-10 23:03] Ultrahead commented on #161
Ditto for other game examples

[2019-11-11 20:48] Dotneteer commented on #161
Thanks for signing it, @Ultrahead :-). I'm working together with Boriel to solve issues like this. I cannot promise a quick solution, but definitely working on it!

[2019-11-12 06:17] Dotneteer commented on #161
@Ultrahead, I managed to find the issue with the code. The reason is that SpectNetIDE uses case-insensitive symbols (labels), while ZX BASIC generates output with case-sensitive ones.
To solve this issue, I need to change the SpectNetIDE Z80 Assembler.
I will do it, nonetheless, it will take a while.

[2019-11-12 06:31] Dotneteer commented on #159
I added the following tags: `ZX Spectrum`, `ZX Spectrum Languages`, `Z80 Assembly`, `ZX BASIC`, `Games`. If you have other suggestions, I'm pretty open :-).
I will release these changes in v2.0-preview2.

[2019-11-12 14:56] Dotneteer commented on #158
@Ultrahead, there's three different bug behind the phenomenon you described :-)
1. Setting the active project item has a bug.
2. Selecting the default program item has a bug.
3. Running code on +3E has a bug.
I fill fix all of them soon.

[2019-11-13 15:45] Dotneteer commented on #158
@Ultrahead , FYI: the first two bugs are fixed.

[2019-11-14 07:51] Dotneteer commented on #158
Fixed. Will be released in v2.0-preview2.

[2019-11-14 09:13] Dotneteer commented on #160
@Ultrahead, Thanks for the suggestions, I changed the documentation accordingly.
When you create a new project, it contains a default `.zxbas` file within the `ZxBasicFiles` project.

[2019-11-14 09:13] #160 closed

[2019-11-15 16:43] Dotneteer commented on #159
Released in v2.0-preview2

[2019-11-15 16:43] #159 closed

[2019-11-15 16:43] Dotneteer commented on #158
Released in v2.0-preview2

[2019-11-15 16:43] #158 closed

[2019-11-15 16:43] Dotneteer commented on #161
Released in v2.0-preview2

[2019-11-15 16:43] #161 closed

[2019-11-16 13:47] Ultrahead opened #163 "[v2p2] No sound when resuming from pause"
Taking the .zxbasic code from: https://github.com/Dotneteer/spectnetide/issues/161

If you pause execution when playing the game, say on +3 project, audio stops.

[2019-11-16 13:56] Ultrahead commented on #160
No .zxbas is included by default when a new project is created. No ZxBasicFiles folder is found. Bug?

[2019-11-16 14:56] Dotneteer commented on #160
@Ultrahead, if you do not find a `ZxBasicFiles` folder, probably you have both SpectNetIDE v1.0 and v2.0 installed on you computer. SpectNetIDE does not work properly with this configuration :-(. See more info here: https://dotneteer.github.io/spectnetide/getting-started/install-spectnetide-2

This may be the cause of the issue you experience.

[2019-11-16 15:05] Ultrahead commented on #160
Checked it. And no, I have only v2 installed. Maybe uninstalling it from within VS left some garbage registers?

[2019-11-16 15:09] Ultrahead opened #164 "[v2p2] Enhancement: watch assembly output of compiled zxbas files"
It would be nice, for .zxbas files, to see the produced assembler compilation when you select the compile file menu option.

The workaround I found for this is to run the project, pause it, and step over code until the compiled assembler file opens.

[2019-11-16 15:10] Dotneteer commented on #160
@Ultrahead, if you can, please send me an email to dotneteer@hotmail.com so that I have your email address. I'd be happy to organize a Skype call with you the see what's going on on your IDE, provided, you are ready to do that.

[2019-11-16 15:24] Dotneteer commented on #164
@Ultrahead, great feature suggestion :-)

[2019-11-16 15:45] Ultrahead commented on #160
Message sent! (you will find two video recordings showing what I get when I create a project)

[2019-11-16 16:34] Ultrahead opened #165 "[v2p2] zxbas files not included in new project"
When you create a new project, the folder containing the .zxbas file and the file it-self are both created but excluded from the solution/project by default,

The workaround is to expose all files in the solution explorer of VS and then manually include them.

[2019-11-22 17:10] Dotneteer commented on #164
Implemented, will be released in v2.0 preview 3. You can read the details here: https://dotneteer.github.io/spectnetide/getting-started/use-zx-basic#zx-basic-compilation

[2019-11-23 06:00] Dotneteer commented on #163
Fixed, will be released in v2.0 preview 3.

[2019-12-06 09:46] altexa opened #166 "Unable to create project (preview 2)"
Unable to create project.  Following instructions here;
https://dotneteer.github.io/spectnetide/getting-started/create-zx-spectrum-48k-project-2#article

This is a fresh install of visual studio 2019 community.  I installed the extension according to the instructions here:
https://dotneteer.github.io/spectnetide/getting-started/install-spectnetide-2#article

When I give the project name and click

[2019-12-06 11:35] Dotneteer commented on #166
Hi @altexa, I'm travelling during the next 8 days, I have no opportunity to look into the SpectNetIDE code unless I'm back :-(.

[2019-12-06 12:27] altexa commented on #166
No hurry :)  I'll try installing more 'bits' of VS to see if that helps

[2019-12-22 18:18] maziac commented on #166
Same problem here. I also installed a fresh copy of VS2019.

[2019-12-22 20:27] Ultrahead opened #167 "[v2p2] importing zxbas project does not run"
After importing this project to SpectNetIDE 2 preview (changing all the files from .bas to .zxbas and ditto in code):

http://www.alessandrogrussu.it/Adlunam.html

... nothing happens when you compile and run the game (ad10.zxbas file)

[2019-12-23 06:43] Dotneteer commented on #167
Hi @Ultrahead, I will check it soon.

[2019-12-23 07:19] Dotneteer commented on #166
@altexa, @maziac, I did not manage to reproduce the issue. Nonetheless, I made an experiment.

I removed VS 2019 Community and after restarting my machine, I installed it again with selecting only the **.NET desktop development** only workload. After that, I could set up SpectNetIDE and create a new ZX Spectrum project.

Nonetheless, my standard VS 2019 setup uses two other workloads, **ASP.NET an

[2019-12-23 08:21] Dotneteer commented on #167
@Ultrahead, thanks for reporting this error. The AdLunam project is a very good one to test ZX BASIC integration, as it is complex, and using many ZX BASIC features. I identified a number of issues (probably just the surface) that I need to handle in SpectNetIDE:
- The ZX BASIC integration had bugs with command line option handling
- I need to find a way to specify ZXB command line options within

[2019-12-23 11:26] maziac commented on #166
It's working now for me. After installing .NET desktop development the error is gone.
Thanks.

[2019-12-23 13:19] Dotneteer commented on #166
Woooh. Thanks, @maziac, I add this learning to the documentation.

[2019-12-23 13:33] altexa commented on #166
Confirmed…adding the .NET desktop development bundle fixed the problem.

Many thanks!

From: Istvan Novak <notifications@github.com>
Sent: 23 December 2019 14:19
To: Dotneteer/spectnetide <spectnetide@noreply.github.com>
Cc: altexa <alt_x_a@yahoo.fr>; Mention <mention@noreply.github.com>
Subject: Re: [Dotneteer/spectnetide] Unable to create project (preview 2) (#166)

Woooh. Thanks, @maziac <https

[2019-12-23 13:35] Dotneteer commented on #165
@Ultrahead, I still not managed to reproduce the issue. Some of my contacts at Microsoft (she works in the Visual Studio team) suggested me an uninstall/reinstall VS 2019 with restarting your Windows after the reinstall and install.

I'm so sorry that I cannot suggest you anything else than this potential workaround :-(

[2019-12-23 14:03] Dotneteer commented on #166
Fixed in Preview 3.

[2019-12-23 14:03] #166 closed

[2019-12-23 14:03] Dotneteer commented on #164
Released in Preview 3.

[2019-12-23 14:03] #164 closed

[2019-12-23 14:04] Dotneteer commented on #163
Fixed in Preview 3.

[2019-12-23 14:04] #163 closed

[2019-12-23 15:43] Ultrahead commented on #165
No problem.

[2019-12-23 16:00] Dotneteer commented on #167
I managed to run the AdLunam project within SpectNetIDE. I will carry out the necessary changes and release them in Preview 4.

[2020-01-10 08:01] deadman2000 opened #168 "Add Light Color Theme"
Current scheme do my eyes hurt

![Screenshot](https://user-images.githubusercontent.com/12889180/72135840-70477c00-3398-11ea-8ece-e1ee6b469494.png)

[2020-01-11 06:09] Dotneteer commented on #168
@deadman2000, I do not plan to add a light color theme to SpectNetIDE in the near future. Nonetheless, you can set up your own color scheme through the Options dialog (in Environments | Font and color), as the figure shows:

![devenv_hTrITPFYbg](https://user-images.githubusercontent.com/4783390/72199799-22d31980-3441-11ea-9b5b-674247691f98.png)

[2020-01-11 06:09] #168 closed

[2020-01-11 08:05] Dotneteer commented on #167
@Ultrahead, the fix for the AdLunam project released in Preview 4.

A new SpectNetIDE feature allows you to add command line options to the main file of a ZX BASIC program. Accordingly, to make AdLunam work, you should add this top comment to the `ad10.zxbas` file:

[code]

You can find more details about compilation options here: https://dotneteer.github.io/spectnetide/getting-started/use-zx-basi

[2020-01-14 00:52] Ultrahead commented on #167
Great! Works like a charm ...

[2020-01-14 05:45] #167 closed

[2020-01-14 09:52] agnunez opened #169 "vsix does not install in current vscode. Error: "extension/package.json not found inside zip.""
Following installation tutorial, I tried to install this IDE in current VScode and, it does not appear in extension list, and while trying manual installation of vsix file, it refuse to install with an error

 "extension/package.json not found inside zip."

[2020-01-15 18:48] Dotneteer commented on #169
@agnunez, Sorry, but SpectNetIDE works only with Visual Studio 2019, but not with Visual Studio Code :-(

[2020-01-18 19:50] #169 closed

[2020-02-02 11:11] gusmanb opened #170 "Debug does not follow current line"
Hi.

I'm testing the V2 preview 4 (great job btw!)  and I have found that debug does not highlight the current line. I'm debugging a ZX Basic program, it contains embedded ASM and is that function the one I'm trying to debug.

To enable the debug I place the break point on the .z80asm generated file and then start debugging the z80asm file (I also have tried starting the zxbas one). The breakpoint

[2020-02-05 13:07] Dotneteer commented on #170
@gusmanb, sorry for my slow answer, I was on trip... I do not think you miss something, it looks like a bug. You could help me a lot by sending me a concrete project zipped and some instructions to reproduce the issue. During the weekend I try to catch and fix it. Thanks in advance!

[2020-02-05 14:56] gusmanb commented on #170
Hi!

The thing is that I have been working on the project all the week and now I'm unable to reproduce it, after two days I gave it another try and it worked and since then it hasn't failed a single time...

The program is part of a bigger solution that I have published on Github so if you want you can download it. The project is here:  https://github.com/gusmanb/zxshield
And the concrete file wit

[2020-02-05 15:03] Dotneteer commented on #170
@gusmanb, thanks for the info, I try to reproduce the behavior.

Congrats for ZXShield! If you have any new feature idea that can be useful for you, do not hesitate and share with me!

I'm pampering the idea of creating a new independent, multi-platform ZX Spectrum IDE with the style of Visual Studio *Code* (but without its UI limitations). When I have any news, I will publish them.

[2020-02-05 23:50] gusmanb commented on #170
Really nice! SpectnetIDE as a standalone can become a standard for ZX Spectrum development, is the best IDE/toolchain I have tried by far :D

I have reproduced the problem but not 100% sure how. This time has happened in a .z80asm regular file, not a basic one. I was debugging normally and I think I have closed the emulator once or twice and then the next time I have tried to debug the emulator pa

[2020-02-07 00:44] gusmanb opened #171 "Request: add postbuild phase"
Hi.

I'm using the export function to create a .hex file, then parse it, create a byte array and use it on an arduino as a virtual ROM for the spectrum.

Each time I modify it I must export it, execute the conversion program and copy it to the arduino project.
It would be very nice to have prebuild/postbuild actions in order to automate this, like the ones that Visual Studio provides.

Cheers

[2020-02-09 05:35] Dotneteer commented on #171
@gusmanb, in SpectNetIDE I do not use the VS build infrastructure. Nonetheless, I review the design to find a way for implementing prebuild and postbuild actions.

[2020-02-09 06:38] Dotneteer commented on #170
@gusman, I managed to find a reproducable scenario, and fixed the bug. The fix will be released in v2 Preview 5.

[2020-02-09 06:41] Dotneteer opened #172 "When changing the ORG address in a loaded project, the debugger won't stop at the designated breakpoints"
When I change the ORG address in a `.z80asm` file, the next time I run the code, the debugger does not stop at the breakpoints. Changing back the ORG address, the debugger works again.
The reason of this behavior is that the IDE uses the cached breakpoint table.

[2020-02-09 14:34] Dotneteer commented on #165
@Ultrahead, a fellow of mine signed a similar issue directly to me. During a skype call, we found a solution &mdash; it may work in your case, too:

- Close all open VS 2019/VS 2017 instances
- Select the `AppData\Local\CustomProjectSystems` folder within your user profile folder. (On my machine it is `C:\Users\dotne\AppData\Local\CustomeProjectSystems`)
- Remove the entire contents of `Spect.Net.

[2020-02-09 15:11] Dotneteer commented on #172
Fixed, will be released in v2 Preview 5.

[2020-02-09 15:31] Dotneteer commented on #171
@gusmanb, This is the initial design for this feature:

- I add a file (`Spectrum.projconf`) to the project template using JSON format, which allows you to set several extra build options:
  - `preBuild`: command to run *before* the Z80/BASIC compilation.
  - `postBuild`: command to run *after* the Z80/BASIC compilation.
  - `buildError`: command to run when any of the `prebuild`, `postBuild`, or

[2020-02-09 19:18] gusmanb commented on #170
Nice!

[2020-02-09 19:21] gusmanb commented on #171
I think that will be more than enough 👍

[2020-02-13 08:43] Dotneteer commented on #171
@gusmanb, Here is the private build of v2 Preview 5 that implements this feature and fixes the debugging bugs. Please, rename the `.zip` file to `.vsix` so that you can install it.

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4197250/Spect.Net.VsPackage.zip)

You can find a quick summary about build tasks here: https://dotneteer.github.io/spectnetide/getting-started/bu

[2020-02-13 23:40] gusmanb commented on #171
Perfect, I will test it this weekend and post a report.

[2020-02-16 00:05] gusmanb commented on #171
Hi.

I have been tested the new functionality and I think it needs two more phases: preExport and postExport.

When VS compiles a regular project the postBuild phase allows you to manipulate the end results, per example you can grab the binary files, move those to other folder and launch it. In SpectNetIDE this doesn't works this way as building doesn't creates the final output files, it happens w

[2020-02-16 00:07] gusmanb commented on #170
I have been testing the private build and for now it seems to work perfectly :)

I will test it intensively next week as I'm on the middle of a ZXBasic project and if I find any problem will report it.

Cheers!

[2020-02-16 05:06] Dotneteer commented on #171
@gusmanb, thanks for the export functionality specification. I will work on it.

[2020-02-16 14:28] Dotneteer commented on #171
@gusmanb, here is the modified private build with the export tasks.

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4209835/Spect.Net.VsPackage.zip)

Please note, it has exactly the same version number as the previous private beta, so probably you should uninstall that before setting up this new build. Also (as you can read in the modified documentation: https://dotneteer

[2020-02-17 17:32] gusmanb commented on #171
Perfect, i will test it tomorrow-

Cheers.

[2020-02-18 04:10] gusmanb commented on #171
Hi.

I have tested and it works perfectly. Sorry to be a pain in the ass but... could you add the $(ExportFile) variable (exported file name without path)? It will make easier to automate tasks.

Cheers!

[2020-02-18 05:57] Dotneteer commented on #171
@gusmanb, please check the newset build!

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4217590/Spect.Net.VsPackage.zip)

[2020-02-18 06:13] gusmanb commented on #171
Tested and working.

I've been all night working with the postbuild phases and it's wonderful how much time it saves. I have four virtual roms that I created with SpectNetIDE, these roms are loaded on the arduino firmware and then through serial commands I enable one of the four depending on what I need to do (these are to load exported .hex files from SpectNetIDE, load .SNA and .Z80 and tonight I

[2020-02-18 06:17] Dotneteer commented on #171
I'm tickled pink to implement features that make community members happier :-). Soon, I will release the next preview.

[2020-02-18 06:32] Dotneteer commented on #171
Released in v2 Preview 5.

[2020-02-18 06:32] #171 closed

[2020-02-18 06:32] Dotneteer commented on #172
Released in v2 Preview 5.

[2020-02-18 06:32] #172 closed

[2020-02-18 06:32] Dotneteer commented on #170
Released in v2 Preview 5.

[2020-02-18 06:32] #170 closed

[2020-02-18 06:32] #165 closed

[2020-02-19 10:33] gusmanb opened #173 "Escaped characters as byte value"
Hi.

I'm doing some routines that XOR values that come from strings. If I use regular single quoted characters these are treated as byte values as it should but it does not allow to use escaped chars so it is not possible to test things like '\n' or '\r'

Example:
[code]

Cheers.

[2020-02-19 10:45] gusmanb commented on #173
Ok, closing as it was my fault, \r and \n aren't treated as scapable chars.

[2020-02-19 10:45] #173 closed

[2020-02-22 15:34] Ultrahead commented on #165
Hi, sorry for the late response. Yes, that was it! Now works ok. Thanks

[2020-02-22 15:36] Dotneteer commented on #165
Pedro, I'm happy that finally we managed to solve it :-)

[2020-02-22 15:37] Ultrahead commented on #165
Me too!

[2020-03-13 22:48] nww02 opened #174 "Stepping through code does not update the current code line indicator"
I've set a breakpoint in my code, and when it's hit use F10 to step through the code, but the highlight remains at the breakpoint line, and doesn't follow the PC.    The window DOES attempt to scroll though.

Version: 2.0.6

[2020-03-14 14:48] Dotneteer commented on #174
@nww02, could you sent me a few concrete steps to reproduce this issue, please?

[2020-03-15 18:54] nww02 commented on #174
I wrote some code.
Placed it at .org 8000
Started the emulator
Injected the code
Inserted some breakpoints in the code.
Pressed "run" in the emulator
typed RANDOMIZE USR 32768
Code stopped at the breakpoint
clicked the "Step Over" button in the emulator (sadly pressing F10 in the code doesn't work).
The code window scrolled down a line, but the orange "here" line remained pointing at the breakpoin

[2020-03-15 19:06] Dotneteer commented on #174
@nww2, Thanks for the repro steps!

[2020-03-15 19:20] nww02 commented on #174
The more I think about it, the scrolling out of view and back making it update correctly makes me think it's a Visual Studio bug.   I've started a new project, and the stepping is working okay (so far), although VS has crashed a few times when I hit breakpoints :-/

[2020-03-16 05:26] Dotneteer commented on #174
Nonetheless, I try to test it using your repro steps. It's not unusual for me to cope with such issues :-)

[2020-03-16 10:14] nww02 commented on #174
It started happening again with the new project.   I'm happy to send you the code I'm working on if you can't reproduce it.

I'm coping by counting lines and scrolling, so there's no massive rush to fix. :)

[2020-03-16 10:16] Dotneteer commented on #174
@nww02, that would be a great help! Please attach the code to this issue thread.

[2020-03-16 10:48] nww02 commented on #174
To run the code,  RANDOMIZE USR  32832.   It should breakpoint early on, and then if I try to step through (I was debugging byte placement of the parameters), it doesn't update the current execution line..  (There's a lot of spare code in here, but just in case it's a length thing, I've dropped it all in).

; Put your Z80 assembly code into code files
Start:
    .model Spectrum48

// for Attribute

[2020-03-16 10:58] nww02 opened #175 "Injecting Code changes the text entry mode"
If I am at the BASIC Prompt with the [K]  cursor flashing after boot, I can press "T" to get the word RANDOMIZE (as you would expect).  However If instead of pressing T, I inject my program first:-

PAUSE  the emulator
INJECT my code at #8000
UNPAUSE the emulator

the [K] cursor is still flashing  Now I press T but instead of getting "RANDOMIZE", I get "t", as if the cursor was in "L" mode, yet it

[2020-03-16 11:16] nww02 opened #176 "[Low Priority tweaks] Keyboard tweaks"
Just a few niceties for keyboard usage, I was wondering if you had time, please could you consider the below....  these are _NOT_ bugs, just some feedback. Please close and delete at your convenience :)

* Are "SHIFT" and "ALT-GR" transposed?  When I'm typing in "L" mode, I've noticed that to get an extended character I press "SHIFT", but to get a capital letter I press "ALT-GR" (or "ALT").   Migh

[2020-03-16 11:49] nww02 opened #177 "Error loading virtual machine state"
If I attempt to start debugging of my code with ^M^R or ^M R, I get an error "Error loading virtual machine state".   (see below)
I also got the same error the first time I tried to start the emulator.
Version: 2.0.6

---------------------------
Microsoft Visual Studio
---------------------------
Error loading virtual machine state

Cannot find type 'Spect.Net.SpectrumEmu.Cpu.Z80Cpu+Z80DeviceState

[2020-03-16 12:29] nww02 opened #178 "[ANNOYANCE only] VS19 hangs for 10+ seconds when doing file actions in a solution"
Doing any file operations in a SpectNetIDE project (like add new file, delete file or rename file) causes VS to hang and white-screen for between 10 seconds and a minute.

Not had this with C# projects.. Any idea why it might be doing that?!

version 2.0.6

[2020-03-17 00:23] nww02 commented on #178
The problem seems to get exponentially more acute with each new file or folder.  I tried to add a folder about 2 minutes ago, and it hung for over two minutes.  Devenv.exe was slowly consuming more and more RAM.  It didn't release it after it came back from the white-screen-of-pause.

[2020-03-17 14:39] nww02 opened #179 "[FEATURE REQUEST] Import Binary File"
To help content importing, like graphics, fonts, sounds etc, might it be possible to add a feature to SpectNetIDE....  An import option to the Solution Explorer's Context Menu?

"Import Binary File".

This would ask for a file (OpenFileDialog)... Select <FILENAME.EXT>, then would create a new file at the point in the solution file tree where the import was initiated called <FILENAME.EXT.Z80ASM>  w

[2020-03-17 15:59] Dotneteer commented on #179
@nww02, I do not know, if you have already read about this SpectNetIDE assembler pragma, probably it fist for you: https://dotneteer.github.io/spectnetide/documents/pragmas#the-includebin-pragma  :-)

[2020-03-17 16:14] Dotneteer commented on #176
@nww02 , thanks for the suggestion. Here are my responses:
* *Point 1*: **I will add an option that allows you to swap SHIFT and ALT-GR.** As about two years ago, I released SpectNetIDE in the way it is, this is the less painful solution I can imagine. So, you'll be able to use the combination you like.
* *Point 2*: Though the keys are not sticky, they still have use: you can click on them and use

[2020-03-17 16:25] Dotneteer commented on #177
@nww02, Recently, I have made small fixes in the vmstate format that may cause this issue. Please, follow these steps, I guess it may solve the issue.

1. Close VS 2019 (all open instances)
2. Under your solution folder, you find a `.SpectNetIde` folder. Remove it.
3. Start VS 2019, open the solution and try now.

If these steps do not work, please, zip the entire solution folder and attach it to

[2020-03-17 16:35] Dotneteer commented on #175
@nww02 , injecting the code explicitly sets the cursor to [L], just as if you'd start the code with RUN. However, as your example shows, in certain cases it would be better to leave it in [K] mode.
To resolve this issue, I'd add a pragma to SpectNetIDE assebler so that your code can specify the cursor mode to use when injecting the code.
Any other ideas?

[2020-03-17 16:42] Dotneteer commented on #178
I managed to reproduce this issue. I guess it appeared after one of the last VS updates (as similar surprising issues pretty often happen with VS updates). Nonetheless, I investigate the issue and fix it asap. Please, send me the VS 2019 version number you use (you can find it in the Help | About dialog).

[2020-03-17 22:46] nww02 commented on #175
I don't know what happens in the background.. I think when just injecting, the cursor should be left alone.   Sure if you use the full RUN option it could be set to L... If you're just injecting, you're probably still in BASIC mode and running snippets to test them :)

[2020-03-17 22:48] nww02 commented on #176
Ah! OK, I didn't find the Options for Spect.Net!  On my laptop the window isn't tall enough, and it's off the bottom of the Option panel!  Thanks, will check it out :) :)

[2020-03-17 22:49] nww02 commented on #177
I'll give it a try! Thanks :)

[2020-03-17 22:50] nww02 commented on #178
I am using VS 2019
Version 16.4.6
.Net Framework 4.8.03761

I'm up to about 6 files and I can make a cup of tea while it adds a new code file XD haha,.

[2020-03-17 22:53] nww02 commented on #179
Oh, I'm so sorry.. *slaps head* ... I've been using the Wiki : https://github.com/Dotneteer/spectnetide/wiki/Z80-Assembler-Reference   as my reference, and I didn't see that pragma!  That's perfect, I'll use that! :D

[2020-03-17 22:54] #179 closed

[2020-03-18 15:06] Dotneteer commented on #176
SHIFT/ALT/GR Swapping option in implemented, will be released in Preview 6

[2020-03-18 17:19] nww02 commented on #176
You are a scholar and a gentleman! :)    Love it!  I think it'll make the emulator much easier to start with for newcomers if the keys are in this configuration!  Thanks :) :)

[2020-03-20 09:33] Dotneteer commented on #177
@nww02, Did it worked, or the issue still exists?

[2020-03-20 10:58] nww02 commented on #177
I just had it happen this morning, so gave it a try, and YES, it SORT of worked.....   Some interestingly mixed results, which I'll raise in a separate bug :)

The only new thing I noticed was that THIS time I got the following error (with a typo in 'length').
`
No code to run.

The lenght of the compiled code is 0, so there is no code to inject into the virtual machine and run.
`

[2020-03-20 11:22] nww02 opened #180 "[FEATURE/INTENDED?] Debugging and running uses the current edited (or selected) file as the starting point?"
(Apologies, this one is hard to explain, cos it's a UX / familiarity thing)

I have a program in a few files:-

A main file  (code.z80asm)
   A common definitions file (common.z80asm)
   Some library function files.  (e.g. fonts.z80asm)

My main code looks like this

[code]

When I compile the solution by right-clicking on the project in the Solution Explorer, or the code.z80asm file, the compilat

[2020-03-20 12:37] Dotneteer commented on #180
After reading several times, I hope, I understood what you meant :-). Let me think about a descent solution...
According to SECONDLY, I do not know whether it is a feature or a bug... Could you zip and upload your entire sample project with all the files so that I can look into it and check it?

[2020-03-20 13:40] nww02 commented on #174
I've uploaded a video to demonstrate this happening:-

https://youtu.be/nwCp2LG4-bA

[2020-03-20 13:58] nww02 commented on #180
I have uploaded a video to demonstrate the different ways to compile / run..

https://youtu.be/QaTvpky7LMM

[2020-03-20 14:54] #177 closed

[2020-03-20 14:56] Dotneteer commented on #176
Point 1 implemented, will be released in Preview 6. More info: https://dotneteer.github.io/spectnetide/documents/pragmas#the-injectopt-pragma

[2020-03-20 15:06] Dotneteer commented on #178
I was testing this issue and observed that the delay is somewhere within VS 2019. I was helpless, but the new VS 2019 16.5.0 seems to solve this issue. After upgrade, I do not have this issue. (Well, I have several other problems with 16.5.0, so I need to adjust my code :-(, but at least this one seems to go away). Can you check if it works on your computer, too?

[2020-03-20 15:23] Dotneteer commented on #174
Thanks, I managed to reproduce the issue!

[2020-03-20 15:52] nww02 commented on #178
OOF, a 1.6Gig download!  That'll take me a while to download... I'll let you know :)

[2020-03-20 15:57] nww02 commented on #176
That's cool, thanks!  I'll add the pragma to my code while I'm debugging.. It's useful to be able to run chunks of code modularly to check cause-and-effect bugs.   I think I'll find the template and add it into the default Code.z80asm template, it's very useful.

I think that link is for Issue #175 though.
https://github.com/Dotneteer/spectnetide/issues/175

[2020-03-20 15:59] Dotneteer commented on #176
Yes, you're rightt, it's for #175.

[2020-03-20 16:49] nww02 commented on #178
Yes. the update has shortened the time considerably!  I haven't had this problem with C#, so I wonder what M$ broke in 16.4 :)

Closing now :)  Thanks again.

[2020-03-20 16:49] #178 closed

[2020-03-22 13:18] nww02 opened #181 "[BUG / DEVELOPER ERROR?] ^M^R and Inject/RANDOMIZE produce different results"
Version: 2.0.6
Description: Different results between automatically running and manually with inject

I've uploaded a video to demonstrate:   [ -> Youtube](https://youtu.be/W5CCzAg0YNs)

First:       Run by inject / RANDOMIZE USR   - Works Perfectly - prints a UDG at top left

Second:   Run by ^M^R with .ent  set to $ -  Doesn't Work spectacularly! :laughing:

third:       ~~Run~~ ~~by~~ ~~^M^R~~

[2020-03-23 18:19] nww02 opened #182 "[FEATURE REQUEST] capture L/R arrow cursor keys in emulator"
The Up and Down cursor keys appear to be captured by the emulator, but the Left / Right cursor keys do not seem to.  When pressing left and right arrow, the focus shifts away from the emulator to other windows.

[2020-03-27 13:58] gusmanb opened #183 "Exception on the output tab when VS 2019 is open"
Whenever I open a project (even without being a spectrum one) VS gets stuck some seconds and then I can see this:

[code]

I think it has started happening when I updated VS to version 16.5.1

[2020-03-30 05:04] Dotneteer commented on #183
Thanks, I will examine this issue soon.

[2020-03-30 10:27] nww02 opened #184 "[IDEA] .FUNCTION blocks"
I don't know how good the optimiser is, but was wondering if something like this might be a simple method for letting people create libraries:-

Create a directive .FUNCTION ... .ENDFUNCTION which wraps around code.      The code within the block is _by definition_  not included in the output UNLESS one or more labels within the block are referenced from outside the block.

By doing this, you can

[2020-03-31 05:06] gusmanb opened #185 "Crashes editing basic files"
Hi. I'm having a lot of VS crashes editing ZX Basic files.

The first one I can replicate consistently is cutting code. Whenever I cut more than two or three lines VS always crashes with no message. On EventViewer I can see this:

[code]

Also when I delete or paste code some times the same happens, the IDE crashes and I have the exact same error on the event viewer.

I think this error started ha

[2020-04-01 05:57] Dotneteer commented on #183
@gusmanb , After trying for several hours and on different machines, I did not manage to reproduce this error. Nonetheless, as I see, you have Spanish Visual Studio 2019/.NET installed on your machine.
According to the source code I see that the particular error message is displayed because the SpectNetIDE Visual Studio Package may not have been properly intialized. Can you help me with some more

[2020-04-01 06:02] Dotneteer commented on #185
@gusmanb, can you help me to create something reproducible? For example, you have a ZX BASIC file, and when you type something at a particular location, VS crashes. If I have thes instructions for reproduction, I can check whether this issue is in VS 2019 or in SpectNetIDE.

[2020-04-01 06:22] Dotneteer commented on #184
This feature sounds easy, but raises many questions that should be answered during the design phase:

1. Where should a used function be compiled? Right where it is in the code, or some other location?
2. How to handle conditional values that may depend on the location of the function? For example, when a particular value of a symbol is the difference between two addresses?
3. How to handle contra

[2020-04-01 06:43] Dotneteer commented on #181
This is not a bug, it is a feature :-)
When you use the Run program command for the injected code, it *jumps* to the start address of the code. If you use RANDOMIZE USR _address_, it *calls* the code. The issue with you code is, that it ends with a RET. Of course, it works with RANDOMIZE USR, but will return to a junk address when starting it with Run program. Here is a little help that you can us

[2020-04-01 06:57] gusmanb commented on #185
Hi.

This is the project I'm working right now (a little basic game for the speccy)

[IslaTesoroCrash.zip](https://github.com/Dotneteer/spectnetide/files/4413266/IslaTesoroCrash.zip)

I'm attaching this because on a small, new project I'm unable to reproduce it but in other bigger projects I have I get the same exception.

To crash the IDE do this:
Open "IslaTesoro.zxbas" file, cut 3 or 4 lines an

[2020-04-01 07:02] Dotneteer commented on #185
Thanks, @gusmanb, I managed to reproduce the issue! :-)

[2020-04-01 07:04] gusmanb commented on #183
VS got updated to 15.6.2 right now and I get no more the exception... so it should be a VS 15.6.1 bug. If I get again the exception message I will enable the log and attach it.

Cheers :)

[2020-04-01 07:04] #183 closed

[2020-04-01 07:09] Dotneteer commented on #183
It's annoying how many times such issues happen with many new VS releases. Nonetheless, I'm happy that this issue got away with 15.6.2 :-)

[2020-04-01 09:15] nww02 commented on #184
Hmm..
   Yes, relative addressing would be tricky, especially on self-modifying code.. hmmm ok.. *sips extra strong coffee for the brain boost*

    I guess in a simple implementation, the /RELATIVE/ locations of Functions would need to be preserved, just in case someone does a 'jr' between them, but that poses the problems you describe.  You'd either end up with loads of unnecessary code (the who

[2020-04-01 09:19] nww02 commented on #181
Ahhh.. Superb! Thank you :) :)    I hadn't spotted that, and I'd scoured the .ent documentation for clues, but didn't see .xent! :) Thank you!!!!!!!!!!!!!!!!!!!!!

[2020-04-01 09:29] Dotneteer commented on #184
:-) I think about the ways it can be solved in a descently.

[2020-04-01 14:26] nww02 opened #186 "[FEATURE REQUEST] specific register Parse-time macro parameter tests"
This is just a little sugar to help with some optimisation.. Not a priority at all....  And I bet this'll be one you tell me is already implemented, but I've not read the docs :D haha.

I'm writing a piece of code which I'd like to abstract out to a macro.  I'd like to know which 16 (or 8) bit register is being passed in, as this would alter the start of the section...

[code]

If I know I'll only

[2020-04-01 14:52] nww02 commented on #186
I thought this was working, but it turns out it doesn't.. It throws an "unexpected token: 'BC'" error.

[code]

[2020-04-01 16:40] nww02 commented on #181
By the way, I tried to use the code you linked to, but I get two errors:
[code]

My code is:

[code]

[2020-04-01 16:52] nww02 opened #187 "[BUG / FEATURE?] Macro parameters referencing later-defined labels not being fixed up.."
Sample Code to print "Hi Istvan" at 5,5 in red and blue.

[code]

This breaks because the str_to_pr label is defined after the macro call.

[code]

 If I put the label before the macro that makes it work.
[code]

Also, if I put the str_to_pr parameters in double-quotes, the parser catches the address properly on the second pass, and that also works.

[code]

Please can macro parameters be added to

[2020-04-01 16:54] Dotneteer commented on #181
Thanks for signing this BUG :-). I managed to reproduce it. Here is a private hotfix for you (please, rename it to .vsix):

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4416541/Spect.Net.VsPackage.zip)

[2020-04-01 17:13] nww02 commented on #181
:) Thanks!

I've never been able to get the jp #12ac to work at the end of the code.. I always end up with a black screen of death, hence the infinite loop.

[2020-04-01 21:10] gusmanb opened #188 "[REQUEST] Add custom parameters for ZXBasic compiler"
Hi!

I have found a bug in ZX Basic, it's a known bug and there's a beta version which solves the problem but it's needed to add a define to the command line and there's no way to add those, so my request is a field to add it.

Also, it would be useful to add a free field to add custom parameters for the compiler, in this way even if the compiler is updated and adds more options that SpectNetIDE d

[2020-04-03 05:25] Dotneteer commented on #187
Please, send me the source _with_ the macro so that I can see it in its entirety!

[2020-04-03 10:30] nww02 commented on #187
Here ya go :)

[code]

[2020-04-03 12:03] Dotneteer commented on #187
Thanks, I will check it!

[2020-04-04 05:47] #181 closed

[2020-04-04 07:05] Dotneteer commented on #182
I did not manage to reproduce this behavior in my computer :-(. I wrote this short basic program to test the emulator window, and it worked just as I expected:

[code]

When running this code, it prints "8" for left, and "9" for right, so it translates the key codes properly, as this screenshot indicates (and it does not change the focus).

![devenv_TVXWmIGhx5](https://user-images.githubuserconten

[2020-04-04 08:07] Dotneteer commented on #185
@gusmanb, it was a nasty VS bug :-(, an error in concurrency handling. It caused crashes when you do some actions (like cut and paste, or copy and paste) quickly after each other. I managed to create some workaround, and hopefully it solves the crashing issue. Here I attach a private build so that you can try the fix. Please, rename it to `.vsix`!

[Spect.Net.VsPackage.zip](https://github.com/Dotn

[2020-04-04 08:37] gusmanb commented on #185
Installed and working 👍
I've been testing it cutting and pasting pieces of basic and for now I got zero crashes.

I will be working on the speccy project all the day so I will test it extensively 😄

Cheers.

[2020-04-04 08:39] Dotneteer commented on #185
If you have any issues, please, report it. Tomorrow I plan to release the next Preview with all fixes I've done so far.

[2020-04-04 13:52] Dotneteer commented on #180
@nww02, I managed to find and fix the bug. Here I send you a private build for testing.
[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4431486/Spect.Net.VsPackage.zip)

Back to youe "Secondly" topic: the compiler should complain for duplicate identyifiers. So, if you include "common.z80asm" twice, the compiler should raise an error. If not, that must be a bug. Should you

[2020-04-04 13:53] Dotneteer commented on #175
Fixed, will be released in Preview 6.

[2020-04-04 13:54] Dotneteer commented on #174
I managed to identify the a bug, unfortunately it is in VS 2019 :-(. I try to find a workaround.

[2020-04-04 14:11] Dotneteer commented on #186
Soon, I will add parse-time function for all these registers: A, AF, B, C, BC, D, E, DE, H, L, HL, I, R, XH, XL, IX, YH, YL, IY, SP.

[2020-04-04 15:19] Dotneteer commented on #186
Here is the private build to try these new parse-time functions.

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4431780/Spect.Net.VsPackage.zip)

You can find the documentation here: https://dotneteer.github.io/spectnetide/documents/macros#macro-related-parse-time-functions (see the last row)

[2020-04-04 15:23] Dotneteer commented on #188
@gusmanb, before doing any extra work: Does not this help?

https://dotneteer.github.io/spectnetide/getting-started/use-zx-basic#option-comments

[2020-04-04 15:35] Dotneteer commented on #187
I checked this issue. Unfortunately, it is a feature. You can pass only known (evaluable immediately) values to macro parameters. The reason is this:
When you pass a value to a macro, you may use it in conditional expressions within the macro, and conditions should be immediately evaluated.
I know, with some analysis, the compiler could check if any conditional expression or statement is used. If

[2020-04-04 15:46] gusmanb commented on #188
Hi.

Ok, missed that option :)

Anyways, it doesn't works as I would expect. If I add the @options REMark then every other setting on the regular options is ignored. I have changed the origin of the basic program and the stack size from the options pane because I'm using hi-res compressed images and it uses "a lot" of memory, if I add the REMark with "@options -D DISABLE_SCROLL" (the "fix" for the

[2020-04-04 15:48] gusmanb commented on #185
I've been working all the day on my project, cutting, pasting, replacing code, etc, and I had no single crash, so I'm going to close the issue 😄

Cheers.

[2020-04-04 15:48] #185 closed

[2020-04-04 17:04] nww02 commented on #174
When you said this, I tried a few things....  One workaround seems to be to move the code file to be in a different panel.  If the main code window is open, and the STEP INTO takes the cursor to the OTHER open panel, the highlighting seems to work.  However, if code and secondary file are in the same panel, but different tabs, then when the STEP INTO flips tab, the highlighting seems to break.

An

[2020-04-04 17:05] nww02 commented on #175
Cool! :)

[2020-04-04 17:16] Dotneteer commented on #188
The REMs intentionally override the settings in Tools | Options. I will soon create a prototype that allows you to define your custom command-line options. SpectNetIDE overrides only the `--output` option, and uses the `--asm`, To make the compilation work, you should keep some rules.

**Probably, the best is to allow specifying any options, and document what is "dangerous". Nonetheless, if the de

[2020-04-04 17:17] nww02 commented on #180
I have done some experimentation.    When I changed some ordering of the #includes in the MAIN code file it did start throwing errors, albeit not consistently.

I think if I have a MAIN code file, a COMMON file and a LIBRARY file (which uses things in the COMMON file), then if I do this in my CODE file:-

[code]

...it works, because the compiler works a little differently to C++ which would attem

[2020-04-04 17:22] nww02 commented on #182
Hmm, to reproduce, try this:-

TYPE a multiline program (10 PRINT "Hello"   20 GO TO 10   will do it  :) )
LIST your program
Try to use the cursor arrows to go up and down lines
EDIT a line
Try to use the cursor arrows to go left and right along the line.

On my (UK english) keyboard, I can go up and down but when I try to edit side-to-side, the VS focus just shifts to a panel that's to the left o

[2020-04-04 17:25] nww02 commented on #186
Awesome! Thank you!  I'm trying to make some generic code I can call from wherever, and I have to spend less time planning on which register to have my parameters in.   A macro that can pull in the values from different registers and work on them intelligently would make later coding a lot easier.  I'll give this a try as soon as I can!! :)

[2020-04-04 17:28] nww02 commented on #187
OK, I think I understand.       I was wondering how I could do some "forward defines", so that I could have my data at the end of the program block and still use the macros...  But everything I think of just ends up being more convoluted :)

I'll go back to putting all my defines data at the top of the program in a #included data.z80asm.  That keeps it neat and out of the way :)

Thanks for lookin

[2020-04-04 18:38] gusmanb commented on #188
Hmmm... what about adding something like "@optionspreserve" to the REM directive?

It would work something like this:

- If you use @options then all the settings are overriden and the user is responsible for adding all        the  required options to compile the program.

- If you use @optionspreserve then the specified options would override only overlapping ones (per example, if I have specifie

[2020-04-05 04:50] Dotneteer commented on #182
I suspect what the issue is :-).

I guess you are using the ZX Spectrum Keyboard to press EDIT.  After that, the focus shifts to the ZX Spectrum Keyboard Tool window. If now you press either LEFT or RIGHT, that moves the focus around the windows open in the IDE. First, you have to click the ZX Spectrum Emulator tool window to get the focus, and then, it accepts left and right arrow keys.

I check,

[2020-04-05 05:15] Dotneteer commented on #182
Putting back the focus to the ZX Spectrum Emulator window works now. You can check it in this private build:

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4432981/Spect.Net.VsPackage.zip)

[2020-04-05 11:37] Dotneteer commented on #187
I have good news for you :-). I managed to apply a little change that allows prolonging macro argument evaluation until the macro's body is compiled. It means, that you can pass future-evaluated expressions to you macros, just like in this sample:

[code]

Of course, conditional statements still require immediately-evaluable expressions, so this still won't work:

[code]
Here is the private build

[2020-04-05 18:01] nww02 commented on #187
I'll try to get it installed ASAP and give it a try :)

Thank you!  You've been so busy with all these fixes and updates!   I'm really enjoying working with SpectNetIDE.

[2020-04-05 18:12] nww02 commented on #182
Yes, the focus shifts to the keyboard.  However, when I move focus manually back to the emulator, the L and R keys still move focus out of the emulator.

I made a video to show it happening.. This is with the build you sent me to test the macro fixup enhancement...

https://youtu.be/hj_UnZwGMak

[2020-04-05 23:00] nww02 commented on #187
Ah yes, I see now.  Interesting that it cannot run the test on the late-bound variable.   I suppose the compiler would need a further pass after the late macro binding to perform the if tests on the fixed up code.  OK, no problem, I can take a 15-or-so T-state hit  in the setup to test it using code, or I can write two different entrypoints and jr into the main body...   The test below works, so I

[2020-04-09 12:14] Dotneteer commented on #182
Sorry for my silence, I was pretty busy during this week. Your video managed to identify the issue (the left and right keys did work for document windows, but not for tool windows), and I fixed it.
I release Preview 6 today, and that will include this fix, too.

[2020-04-09 12:18] Dotneteer commented on #188
Sorry for the silence, I was pretty busy during this week. Soon I start working on this feature.

[2020-04-09 12:27] Dotneteer commented on #187
Released in v2 Preview 6.

[2020-04-09 12:27] #187 closed

[2020-04-09 12:27] Dotneteer commented on #186
Released in v2 Preview 6.

[2020-04-09 12:27] #186 closed

[2020-04-09 12:28] Dotneteer commented on #182
Released in v2 Preview 6.

[2020-04-09 12:28] #182 closed

[2020-04-09 12:28] Dotneteer commented on #180
Released in v2 Preview 6.

[2020-04-09 12:28] #180 closed

[2020-04-09 12:29] Dotneteer commented on #176
Released in v2 Preview 6.

[2020-04-09 12:29] #176 closed

[2020-04-09 12:29] Dotneteer commented on #175
Released in v2 Preview 6.

[2020-04-09 12:29] #175 closed

[2020-04-10 13:21] nww02 commented on #180
:)  Thanks

[2020-04-10 13:25] nww02 commented on #182
Thanks for this. It was a pain editing code with the on-screen keyboard!  As you've been fixing these issues, I've been slowly able to use the onscreen keyboard less and less, which I think will help future developers as well.

Thank you for your responsiveness and for considering these crazy issues!    Have a great weekend :)

[2020-04-10 13:27] nww02 commented on #186
Awesome, thank you!  I'll simplify my macro code.   With this, I can now easily use library code from books and sites without needing to rewrite it for each application.  Libraries can be used together, with just enough glue code to move values around registers if needed.  Thank you! :)

[2020-04-10 13:28] nww02 commented on #187
Thank you :)

[2020-04-17 12:45] Dotneteer commented on #188
I do not think, mixing options set in the Tools | Options dialog with **@options** in the program is a good idea, as it causes a lot of headaches. So if you use **@options** in the code, you need declare _every_ command line options and switches you'd pass to ZXB, except `--output`. Also, SpectNetIDE sets `--asm` for you. It's your responsibility to specify the approriate options. SpectNetIDE does

[2020-04-18 06:18] Dotneteer opened #189 "[FEATURE REQUEST]: Allow automatic export after compilation"
In the discussion about SpectNetIDE-ZEsarUX integration (with Mike van der Lee), it came to light that an automatic export of the compilation could be a useful solution.

Here is a private build of SpectNetIDE, which contains this feature:

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4496157/Spect.Net.VsPackage.zip)

(Do not forget to rename the file to `.vsix` before

[2020-04-18 15:11] TheStruggleForAntiSpaghetti commented on #189
I've set-up this built and created a simple ZX Basic project,.

When trying to run it, I'm running into compiling errors (see included screenshot in zip).

See the project folder attached.

The batch-file I'm calling in the BuildTasks is the one calling ZEsarUX in the ZEsarUX folder I shared the other day.

[SpectnetIDE-Dev_esxDOS-Dir.zip](https://github.com/Dotneteer/spectnetide/files/4496859/Spe

[2020-04-19 09:21] Angel996 opened #190 "ZX Emulator settings?"
Hello.

On my Windows 10 system there is a problem with sound playback. I wrote a simple "beep" routine in assembly which plays fine on other emulators. On Spectnetide sound is garbled, plays differently on every run, sometimes sound chunk replays in a couple of seconds by itself. It's obviously a problem with sound playback/buffer in Windows. Is it possible to change playback device/driver/buffer

[2020-04-19 09:34] Angel996 opened #191 "Font coloring all messed up in code editor"
Hi

Sorry, I'm new to Visual Studio, I don't know whether it's up to extension or VS itself. But whenever I start typing in some text in code editor, keyword/operand coloring gets all messed up, example attached. What i just did is typed: "_player_buffer: defw #E000_". I have a feeling it gets worse as code size grows. Also, from time to time typing becomes slow, text appears with a noticable lag

[2020-04-21 04:36] Dotneteer commented on #190
@Angel996, I know about the sound issues :-(. It's the result of the "co-operation" of Windows and Visual Studio. Rewriting the sound system is in my backlog, in the weeks ahead I will start working on it.
In the Tools|Options dialog, in the Spect.NET IDE tab, you find a lot of settings including the keyboard, joystick, compiler, emulator, etc. Unfortunately, no settings for sound (yet).

[2020-04-21 04:36] #190 closed

[2020-04-21 04:41] Dotneteer commented on #191
@Angel996, text editing should not work like this. Please, zip the project source code and attach to this conversation so that I can examine it and resolve the issue. If you do not want to uploat the project to Github, you can contact me: dotneteer@hotmail.com.

[2020-04-21 11:40] Angel996 commented on #190
My suggestion is then to add information on Tools|Options emulator settings to the page

https://dotneteer.github.io/spectnetide/getting-started/zx-spectrum-emulator-window

It is not mentioned there. It's important, especially for newbies like me.

[2020-04-22 05:55] gusmanb commented on #188
Sorry, I am sick, I've been two weeks really bad. I will try to test it this weekend.

Cheers.

[2020-04-22 05:56] Dotneteer commented on #188
Sorry to hear that :-( Get well!

[2020-04-23 09:00] Angel996 commented on #191
Actually I realized, them problem is with great lags of the code editor. Keyword coloring just takes forever to update. It seems the error is cumulatative: the more manual code edits I do (I don't turn off my PC for the night and I don't close the VS), the more lagged text editor becomes. After running for a few days it becomes so slow, I have to close and reopen the project, otherwise after typin

[2020-04-23 10:50] Dotneteer commented on #191
@Angel996, right now, you cannot disable syntax highlighting. Any details and information that could help me investigate the issue would be great.
Soon, I will create a private build for you with disabled syntax highlighting just to check it that is the core issue, or something else.

[2020-04-24 05:28] Dotneteer commented on #189
Mike, today I examined the project you sent me. The issue with the code is that the the `exdos.bas` file contains the `local`, `proc`, and `endp` assembly keywords with uppercase first letters: `Local`, `Proc`, and `Endp`.  Thus, the Assembler takes these words into account as label names, and not as statements. SpectNetIDE accepts either full lowercase or full uppercate keywords, so `LOCAL`, `PRO

[2020-04-24 06:40] Dotneteer commented on #189
Mike, here is the private build I mentioned. I found, the issue was only with the `Local` keyword, earlier I already solved the issue with `Proc` and `Endp`. This private build works on my machine, but if you uses a different ZXB compiler than I, it may raise issues. Anyhow, just send me the zipped project code, and I will hunt down the other incompatibility issues, too.

[Spect.Net.VsPackage.zip]

[2020-04-24 07:00] Dotneteer commented on #191
@Angel996, here I send you the private build I promised. Please, rename the `.zip` to `.vsix` to install.

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4527169/Spect.Net.VsPackage.zip)

Now, you can use the **Tools|Options** dialog to turn on/off Z80 Assembly syntax highlighting:

![devenv_BQ5660Kjwy](https://user-images.githubusercontent.com/4783390/80183469-2ca41580-8

[2020-04-24 08:47] Angel996 commented on #191
Thanks, installed, working.

[2020-04-24 13:05] Dotneteer commented on #191
@Angel996, I managed to find an excellent workaround for the VS IDE issue with Z80 Assembly syntax highlighting. Here I send you the private build with the fix. Please, give it a chance, and turn back syntax highlighting. I did smoke-testing with a file more than 20,000 lines. Should you find any issues, please, report it to me with such useful details as you did it before :-).

[Spect.Net.VsPacka

[2020-04-24 13:21] Dotneteer commented on #184
@nww02, In the last three weeks, I carried out a couple of experiments, but did not manage to find a descent solution that is based **_only an the Z80 Assembler_**. I tried several alternative solutions, but each of them had their setbacks.
So, I decided to allow **_compiling and linking libraries_**. By my current desing, you can sign a Z80 code file as a library, and comile it to a specific form

[2020-04-24 13:21] #184 closed

[2020-04-25 21:39] Angel996 commented on #191
I think the problem is partly solved, syntax highlighting works as intended now. However, the lags grow as it all runs. When I start VS, load my project, compile, inject and run the emulator, it all takes  up ~250 MB of RAM. By the end of the day Task Manager reports 786 MB RAM usage by VS. At that very time code editor is very lagged, typed text takes time to appear on screen, and it takes around

[2020-04-26 05:00] Dotneteer commented on #191
@Angel996, thanks for the diagnosis! I try to use several tools and discover how the memory consumption goes up. Hopefully, that will give me a clue where should look for the source of the issue.
You're not supposed to stop the emulator.

[2020-04-27 13:09] Angel996 opened #192 "Non-existant Z80 instructions"
By chance discovered, that two non-existent Z80 instructions are actually being assembled, and given some random opcodes.

[code]

Assembly result is:

`50 02 58 04`

Instead, error msg should be thrown.

[2020-04-28 04:49] Dotneteer commented on #192
Thanks for signing it, @Angel996!

[2020-04-30 08:15] Dotneteer commented on #192
Fixed, will be released in Preview 7.

[2020-04-30 20:05] TheStruggleForAntiSpaghetti commented on #189
Hi, István.

Just want to thank you for the build. I've been low on time lately but will try to test it in the following days.

[2020-05-02 16:01] Ultrahead opened #193 "[Feature] Tape File Explorer: exporting support"
The tape file exporting is really handy.

And it would great if we could export either the disassembled code or, when Basic Code is available, a basic file.

![image](https://user-images.githubusercontent.com/12087040/80869140-f4d64700-8c74-11ea-9f60-841699ac194f.png)

![image](https://user-images.githubusercontent.com/12087040/80869132-ed16a280-8c74-11ea-95b7-26939964778a.png)

[2020-05-03 05:11] Dotneteer commented on #193
@Ultrahead, I would implement exporting the disassembly soon.

[2020-05-03 05:13] Dotneteer commented on #193
@Ultrahead, when you mention "BASIC file" you mean a text file or another format?

[2020-05-03 08:32] Ultrahead commented on #193
I meant the content. Whether you export it as a txt file, a .zxbas one or copy to the clipboarf is ok.

[2020-05-09 11:40] Dotneteer commented on #193
Here I send you the private build that contains the requested feature. Please, try it and share your experiences with me! I try to release Preview 8 as soon as possible.

[Spect.Net.VsPackage.zip](https://github.com/Dotneteer/spectnetide/files/4603374/Spect.Net.VsPackage.zip)

[2020-05-09 15:52] Ultrahead commented on #193
Hi István, thanks for the build.

I works. The .bas file gets exported. However it does not compile when included in a Project as .zxbas. The compiler starts but never stops. I’m attaching the file for you to see.

So far so good with the build. It works. It would be nice to also include the file in the project. For example, instead of exporting it as .bas, to importing it in the open project as .

[2020-05-09 16:03] Dotneteer commented on #193
Pedro, I intentionally export the BASIC listing to a `.bas` file, as it contains ZX Spectrum BASIC code. The `.zxbas` extension is for ZX BASIC files (it's a different, more featureful syntax than Spectrum BASIC). Apparently, I cannot compile Spectrum BASIC to ZX BASIC.

So, there's a very little likelihood that you'll be able to compile an exported output with ZX BASIC. That is why I do not add t

[2020-05-09 16:11] Ultrahead commented on #193
After 5 minutes a timeout message appeared.

Is there any way to compile standard basic to assembly code with SpectNetIDE? (I know I can use the emulator to type each line the old way)

[2020-05-09 16:17] Dotneteer commented on #193
By compile, you mean importing a `.bas` file into the ZX Spectrum machine, just as you typed it?

So far, there's no such a feature in SpectNetIDE, but probably it is worth to create it :-). If you have ideas, how you'd like to use it, just add a new feature request to the project :-).

[2020-05-09 16:19] Ultrahead commented on #193
Actually I mean to compile that .bas into assembly code and run the latter (as you do with ZX Basic).

[2020-05-09 16:23] Dotneteer commented on #193
Ohhh... I see. I do not know any compiler that does this. This is why ZX BASIC is integrated in SpectNetIDE. Well, if you know any utility that does this compilation, let me know, I test whether I can integrate it into SpectNetIDE.
I could not undertake writing such a compiler on my own, it would take me a year or more...

[2020-05-09 16:31] Ultrahead commented on #193
ZX basic supports most of standard basic programs with no modifications. This one is an exception :)

No problem.

[2020-05-09 16:48] Ultrahead commented on #193
José tells me that in order to increase compatibility ratio --sinclair should be added

[2020-05-09 16:54] Ultrahead commented on #193
But there is a problem with the graphic characters: "°97°°97° ..."

https://zxbasic.readthedocs.io/en/latest/syntax/?fbclid=IwAR1tZr6TLGsQXpJNSq25Qr0Xtbjzfwrno9BK0JzjtUHHB5O7DQG-g-LqP64#graphic-characters

[2020-05-10 05:26] Dotneteer commented on #193
Thanks for the suggestions, I look after them :-)

[2020-05-10 11:54] boriel commented on #193
Hi!!
I've also located at least 2 bugs within ZX Basic that will prevent this program to compile :(
I've fixed one of them already, the other is on the way. Thanks for your patience. Will provide a new release ASAP.

[2020-05-10 12:29] Dotneteer commented on #193
@boriel, thanks for finding the bug! I like the strength og the community :-)

[2020-05-10 16:22] Dotneteer commented on #193
Pedro, here is the next private build with tiny new features:
- You can choose between *Sinclair* and *ZX BASIC* modes for displaying control characters.
- Now, ZX BASIC compilation does not hang.
- The `--sinclair` command-line option is automatically used when invoking ZXB.

See modified docs here:
- https://dotneteer.github.io/spectnetide/getting-started/list-basic-program#article
- https://dot

[2020-05-10 18:33] boriel commented on #193
Also, if there's a compilation that makes the compiler to hang, etc. please let me know!

[2020-05-10 19:15] Ultrahead commented on #193
@boriel please let me know when the new version is up with the fixes so I can download it and re-test

[2020-05-10 21:25] boriel commented on #193
@Dotneteer Just one thing: `--sinclair` is good for people coming from Sinclair BASIC because it will ease the transition, but it's not mandatory to be used to produce compatible code. In other words it should be used when porting an old Sinclair BASIC program (at the cost of somewhat reduced performance)

[2020-05-10 21:25] boriel commented on #193
Okay, here is a (preliminary) fixed version:
http://www.boriel.com/files/zxb/zxbasic-1.10.0-beta5-win32.zip
http://www.boriel.com/files/zxb/zxbasic-1.10.0-beta5.tar.gz
http://www.boriel.com/files/zxb/zxbasic-1.10.0-beta5.zip